
.magazine-slick-prev-arrow {
	position: absolute;
	right: 4%;
	top: -16%;
	outline: black;
	background-size: 100%, 100%;
	border: none;
	z-index: 2;
	cursor: pointer;
	width : 20px;
	height : 20px;
	background: url("/assets/resources/icon/contents/slide/btn_prev_page_n.svg");
}

.magazine-slick-prev-arrow.slick-disabled {
	background: url("/assets/resources/icon/contents/slide/btn_prev_page_d.svg");
}

.magazine-slick-prev-arrow:hover {
	background: url("/assets/resources/icon/contents/slide/btn_prev_page_s.svg");
}

.magazine-slick-next-arrow {
	position: absolute;
	right: 1%;
	top: -16%;
	outline: black;
	background-size: 100%, 100%;
	border: none;
	z-index: 2;
	cursor: pointer;
	width : 20px;
	height : 20px;
	background: url("/assets/resources/icon/contents/slide/btn_next_page_n.svg");
}

.magazine-slick-next-arrow.slick-disabled {
	background: url("/assets/resources/icon/contents/slide/btn_next_page_d.svg");
}

.magazine-slick-next-arrow:hover {
	background: url("/assets/resources/icon/contents/slide/btn_next_page_s.svg");
}

/* �����̴� �ʱ� ���� ���� */
.magazine-slick-slide {
     /* visibility: hidden; */
    display: none;
}
.magazine-slick-slide.slick-initialized {
     /*  visibility: visible; */
   display: block;
}