
._header_sub_menu {
	margin-left:10px;
}

._header_sub_menu > i {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	align-items: center;
}

.view_product_img_size{
	background-size: 40px !important;
}

.view_product_img {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_0_n@2x.png");
}

.view_product_img1 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_1_n@2x.png");
}

.view_product_img2 { 
	background-image:url("/assets/resources/icon/contents/header/ic_recent_2_n@2x.png");
}

.view_product_img3 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_3_n@2x.png");
}

.view_product_img4 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_4_n@2x.png");
}

.view_product_img5 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_5_n@2x.png");
}

.view_product_img6 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_6_n@2x.png");
}

.view_product_img7 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_7_n@2x.png");
}

.view_product_img8 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_8_n@2x.png");
}

.view_product_img9 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_9_n@2x.png");
}

.view_product_img10 {
	background-image:url("/assets/resources/icon/contents/header/ic_recent_10_n@2x.png");
}

.view_product_img:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_0_s@2x.png");
}

.view_product_img1:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_1_s@2x.png");
}

.view_product_img2:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_2_s@2x.png");
}

.view_product_img3:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_3_s@2x.png");
}

.view_product_img4:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_4_s@2x.png");
}

.view_product_img5:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_5_s@2x.png");
}

.view_product_img6:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_6_s@2x.png");
}

.view_product_img7:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_7_s@2x.png");
}

.view_product_img8:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_8_s@2x.png");
}

.view_product_img9:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_9_s@2x.png");
}

.view_product_img10:hover {
	background:url("/assets/resources/icon/contents/header/ic_recent_10_s@2x.png");
}

#store_header_img {
	margin-right: 4px;
	margin-bottom: 3px;
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url("/assets/resources/icon/contents/header/ic_btn_store_n.svg");
	vertical-align: middle;
}

#store_header_img:hover {
	background: url("/assets/resources/icon/contents/header/ic_btn_store_s.svg");
}

._header_bg {
	background-color: #FFFFFF;
	height: 80px;
	border-bottom: 1px solid #FFFFFF;
}

.mobile_menu_btn {
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background: url("/assets/resources/icon/layout/ic_menu_n.svg");
	cursor: pointer;
}

.header_menu {
	text-align: left;
	font: normal normal 800 16px/18px var(--default-font);
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	padding: 0 15px 0 15px;
}

.header_menu:hover #store_header_img {
	background: url("/assets/resources/icon/contents/header/ic_btn_store_s.svg");
}

#header_layout {
	height: 80px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E7EAF3;
}

.img_logo {
	content:url(/assets/resources/logo/ic_logo_cnt.svg)
}

.side-modal-dialog {
	margin: 0;
	height: 100%;
}

.side-modal-menu {
	border: 0;
	border-radius: 0;
	width: 100%; 
	height: 100%
}

.md_modal_text:hover, .header_menu:hover {
	text-decoration: none;
	color: #2A534C;
}

.text_hover{
	text-decoration: none;
	color: #2A534C;
}

@media screen and (max-width: 768px) {
	.side-modal-dialog {
		width: 75% !important;
		max-width: 100%;
	}
	
	.md_modal_menu {
		display: flex;
		justify-content: flex-start;
		margin-left: 24px;
		margin-right: 24px;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	
	.md_modal_text {
		text-align: left;
		font: normal normal 800 16px/58px var(--default-font);
		letter-spacing: -0.4px;
		color: #000000;
		opacity: 1;
	}
	
	.modal_hr_box {
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media screen and (min-width: 768px) {
	.side-modal-dialog {
		width: 60% !important;
		max-width: 100%;
	}
	
	.md_modal_menu {
		display: flex;
		justify-content: flex-start;
		margin-left: 56px;
		margin-right: 56px;
		padding-top: 28px;
		padding-bottom: 28px;
	}
	
	.md_modal_text {
		text-align: left;
		font: normal normal 800 24px/58px var(--default-font);
		letter-spacing: -0.6px;
		color: #000000;
		opacity: 1;
		
	}
	
	.modal_hr_box {
		padding-left: 56px;
		padding-right: 56px;
	}
}

@media screen and (max-width: 992px) {
	#header_layout {
		height: 56px;
	}
	/*
	.navbar-expand-lg > .container {
		padding-right:15px;
		padding-left:15px;
	}
	*/

	.bt-primary-default {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		padding-left: 16px !important;
		padding-right: 16px !important;
	}
	
	.bt-primary-default.bt__header > .h5 {
		font-size: 12px !important;
		line-height: 18px !important;
		letter-spacing: -0.3px !important;
	}
	
	.img_logo {
		content:url(/assets/resources/logo/ic_logo_cnt_sm.svg) !important
	}
	
	._header_sub_menu > i {
		width: 32px !important;
		height: 32px !important;
	}
	
	._header_bg {
		height: 56px;
	}
	
	.view_product_img_size{
		background-size: 32px !important;
	}
}