/*22년도부터 적용되는 폰트 클래스 (글씨체, 크기. 속성, 자간, 행간), 칼라, 버튼 속성값 적용*/

/* HTML 상속 (디폴트값) */
:root {
	--default-font : NanumSquareOTF, Apple SD Gothic Neo;
	--font-bold-ex : 800;
	--font-bold : 700;
	--font-regular : 400;
	--color: black;
}
/* HTML 상속 (디폴트값) */

/* 폰트 */
.display1 {
	font-family: var(--default-font);
	font-size: 48px;
	font-weight: var(--font-bold-ex);
	line-height: 65px;
	letter-spacing: -1.92px;
	color: var(--color);
}

.display2 {
	font-family: var(--default-font);
	font-size: 36px;
	font-weight: var(--font-bold-ex);
	line-height: 49px;
	letter-spacing: -1.44px;
	color: var(--color);
}

.display3 {
	font-family: var(--default-font);
	font-size: 24px;
	font-weight: var(--font-bold-ex);
	line-height: 36px;
	letter-spacing: -0.96px;
	color: var(--color);
}

.display4 {
	font-family: var(--default-font);
	font-size: 20px;
	font-weight: var(--font-bold-ex);
	line-height: 30px;
	letter-spacing: -0.5px;
	color: var(--color);
}

.display5 {
	font-family: var(--default-font);
	font-size: 18px;
	font-weight: var(--font-bold-ex);
	line-height: 27px;
	letter-spacing: -0.45px;
	color: var(--color);
}

.display6 {
	font-family: var(--default-font);
	font-size: 16px;
	font-weight: var(--font-bold-ex);
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--color);
}

.h1 {
	font-family: var(--default-font);
	font-size: 24px;
	font-weight: var(--font-bold);
	line-height: 36px;
	letter-spacing: -0.6px;
	color: var(--color);
}

.h2 {
	font-family: var(--default-font);
	font-size: 20px;
	font-weight: var(--font-bold);
	line-height: 30px;
	letter-spacing: -0.5px;
	color: var(--color);
}

.h3 {
	font-family: var(--default-font);
	font-size: 18px;
	font-weight: var(--font-bold);
	line-height: 27px;
	letter-spacing: -0.45px;
	color: var(--color);
}

.h4 {
	font-family: var(--default-font);
	font-size: 16px;
	font-weight: var(--font-bold);
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--color);
}

.h5 {
	font-family: var(--default-font);
	font-size: 14px;
	font-weight: var(--font-bold);
	line-height: 21px;
	letter-spacing: -0.35px;
	color: var(--color);
}

.h6 {
	font-family: var(--default-font);
	font-size: 12px;
	font-weight: var(--font-bold);
	line-height: 18px;
	letter-spacing: -0.3px;
	color: var(--color);
}

.body1 {
	font-family: var(--default-font);
	font-size: 20px;
	font-weight: var(--font-regular);
	line-height: 30px;
	letter-spacing: -0.5px;
	color: var(--color);
}

.body2 {
	font-family: var(--default-font);
	font-size: 16px;
	font-weight: var(--font-regular);
	line-height: 28px;
	letter-spacing: -0.4px;
	color: var(--color);
}

.body3 {
	font-family: var(--default-font);
	font-size: 14px;
	font-weight: var(--font-regular);
	line-height: 24px;
	letter-spacing: -0.35px;
	color: var(--color);
}

.caption {
	font-family: var(--default-font);
	font-size: 12px;
	font-weight: var(--font-regular);
	line-height: 16px;
	letter-spacing: -0.3px;
	color: var(--color);
}
/* 폰트 */

/* 칼라 */
.primary500 {
	--color: #2a534c;
}

.primary600 {
	--color: #234540;
}

.secondary400 {
	--color: #fc9a91;
}

.secondary500 {
	--color: #FF5D4F;
}

.white {
	--color: #FFFFFF;
}

.gray100 {
	--color: #F5F5F5;
}

.gray200 {
	--color: #DBDBDB;
}

.gray300 {
	--color: #C2C2C2;
}

.gray400 {
	--color: #A8A8A8;
}

.gray500 {
	--color: #8F8F8F;
}

.gray600 {
	--color: #757575;
}

.black {
	--color: #000000;
}

.surface100 {
	--color: #EAE7E2;
}

.line100 {
	--color: #EDEDED;
}
/* 칼라 */

/* 버튼 */
.bt-outline {
	border: solid 1px var(--color);
	border-radius: 20px;
	display:inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 49px;
	padding-right: 49px;
}

.bt-outline-s {
	border: solid 1px var(--color);
	border-radius: 20px;
	display:inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 16px;
}

.bt-primary-default {
	background-color: #2a534c;
	border-radius: 20px;
	display:inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 49px;
	padding-right: 49px;
}

.bt-primary-default-disabled {
	background-color: #a9b3b2;
	border-radius: 20px;
	display:inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 49px;
	padding-right: 49px;
}

.bt-primary-default-s {
	background-color: #2a534c;
	border-radius: 20px;
	display:inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 16px;
}

.bt-secondary-default {
	border: solid 1px #2a534c;
	border-radius: 20px;
	display:inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 49px;
	padding-right: 49px;
}

.bt-secondary-s-default {
	border: solid 1px #2a534c;
	border-radius: 20px;
	display:inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 16px;
}

.bt-tertiary-default {
	border: solid 1px #a8a8a8;
	border-radius: 20px;
	display:inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 49px;
	padding-right: 49px;
}

.bt-tertiary-s-default {
	border: solid 1px#a8a8a8;
	border-radius: 20px;
	display:inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 16px;
}

.bt-outline:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor:pointer;
}

.bt-outline-s:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor:pointer;
}

.bt-primary-default:hover {
	background-color: #234540;
	cursor:pointer;
}

.bt-primary-default-s:hover {
	background-color: #234540;
	cursor:pointer;
}

.bt-secondary-default:hover {
	background-color: rgba(42, 83, 76, 0.1);
	cursor:pointer;
}

.bt-secondary-s-default:hover {
	background-color: rgba(35, 69, 64, 0.1);
	cursor:pointer;
}

.bt-tertiary-default:hover {
	background-color: rgba(168, 168, 168, 0.1);
	cursor:pointer;
}

.bt-tertiary-s-default:hover {
	background-color: rgba(168, 168, 168, 0.1);
	cursor:pointer;
}
/* 버튼 */

/*22년도부터 적용되는 폰트 클래스 (글씨체, 크기. 속성, 자간, 행간), 칼라, 버튼 속성값 적용*/

/* v0.1.3.4 */
#navPoint__main--consReview {
	position:absolute;
	bottom:0;
	height:50px;
}
/* //v0.1.3.4 */

a:hover {
	 text-decoration:none;
}

.box__whaple--green {
  background-color: #2a534c;
  height:750px;
}

.box__whaple--white {
	  height: 77px;
	  background-image: url(/assets/resources/logo/ic_logo_cnt_w.svg);
	  background-repeat: no-repeat;
	  background-position: left center;
}

.text__tile-main {
 
  height: 148px;
  margin: 60px 0px 40px;
  font-family: var(--default-font);
  font-size: 50px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -1.5px;
  text-align: left;
  color: #fff;
}

.box__intro-btn-tile {
	width:175px;
	height:64px;
  	align-items:center;
  	justify-content: center;
 	display:flex;
  	background-color: #ffe0dd;
}

.span__intro-btn-tile-text {
	margin-right: 10px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.4px;
  color: #2a534c;

}

.box__intro-btn-offer {
	height:64px;
	margin-left: 15px;
  	align-items:center;
  	justify-content: center;
 	display:flex;
  	border: solid 1px #ffe0dd;
  	padding-top:20px;
  	padding-bottom: 20px;
  	padding-left: 24px;
  	padding-right: 32px;
}

.span__intro-btn-offer-text {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.48px;
  text-align: center;
  color: #ffe0dd;
  margin-left: 10px;
}

.img__intro--cover {
  width: 35%;
  height: 750px;
  position:absolute;
  left:65%;
  top:0%;
  background-image: url(/assets/resources/image/index/image_intro_1@2x.png);
  background-size: cover
}

.box__explain {
  width: 1140px;
  height: 809px;
  margin: 0 113px 0 0;
  padding: 0 45px 0 15px;
  text-align: center;
}


.box__help--center {
	padding-top:128px;
	align-items:center;
  	justify-content: center;
 	display:flex;
}
.span__help {
  font-family: var(--default-font);
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.53px;
  text-align: center;
  margin-bottom: 32px;
  color: #2a534c;
}

.box__whaple--center {
	align-items:center;
  	justify-content: center;
 	display:flex;
}

.span__whaple-text {
  font-family: var(--default-font);
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -1px;
  text-align: center;
  color: #000;
}

.box__step--wrap {
	height:301px;
	padding:88px 0 0 0;
}

.box__step-text {
	display:inline-block;
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: left;
  margin-right:10px;
  color: #bdded8;
}

.box__step-text--right {
	display:inline-block;
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: left;
  color: #bdded8;
}

.box__postscript-text {
  margin: 128px 0 0;
  padding: 128px 0;
  background-color: #f5f5f5;
}

.span__postscript-title {
  font-family: var(--default-font);
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -1px;
  text-align: center;
  color: #000;
}

.box__text--center {
	text-align: center;
}

.span_postscript-text {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.img__review {
	margin: 70px 0 30px 0px;
}

.span_customer-name {
  width: 77px;
  height: 18px;
  margin: 0px 0px 64px 0px;
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.63;
  letter-spacing: normal;
  text-align: left;
  color: #8f8f8f;
}

.box__slider {

}
.img__slider {
  width:445px;
  height: 334px;
  margin: 88px 15px 88px 15px;
  background-size: cover;
}

.bg-1 {
	background-image: url(/assets/resources/image/index/image_intro_gallery_1@2x.png);
}

.bg-2 {
	background-image: url(/assets/resources/image/index/image_intro_gallery_2@2x.png);
}

.bg-3 {
	background-image: url(/assets/resources/image/index/image_intro_gallery_3@2x.png);
}

.bg-4 {
	background-image: url(/assets/resources/image/index/image_intro_gallery_4@2x.png);
}

.bg-5 {
	background-image: url(/assets/resources/image/index/image_intro_gallery_5@2x.png);
}

.bg-6 {
	background-image: url(/assets/resources/image/index/image_intro_gallery_6@2x.png);
}

.bg-7 {
	background-image: url(/assets/resources/image/index/image_intro_gallery_7@2x.png);
}

.bg-8 {
	background-image: url(/assets/resources/image/index/image_intro_gallery_8@2x.png);
}
.btn__tile-select--green {
  width: 175px;
  height: 56px;
  align-items:center;
	justify-content: center;
	display:flex;
  background-color: #2a534c;
}

.span__tile-select {
	margin-right:10px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffe0dd;
}

.wrapper__center {
	    align-items:center;
	  	justify-content: center;
	 	display:flex;
}

/* large*/ 
@media all and (min-width:993px) and (max-width:1200px) {
	.img__slider {
	  width:370px;
	  height: 278px;
	}
} 
/* medium*/ 
@media all and (min-width:768px) and (max-width:992px) {  
	.img__slider {
	  width:270px;
	  height: 203px;
	}
} 

/* small*/ 
@media all and (max-width:767px) { 
	.img__slider {
	  width:342px;
	  height: 257px;
	}
	.text__tile-main {
		height: 97px;
		margin: 40px 0px  20px;
		font-size: 40px;
		font-weight: 800;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: -2px;
		text-align: left;
	}
	.img__intro--cover {
	  position:static;
	  width: 100%;
	  height: 325px;	  
	  background-image: url(/assets/resources/image/index/image_intro_1@2x.png);
	  background-size: cover
	}
	.box__step--wrap {
		padding:56px 0 0 0;
		height:200px;
	}
	.box__whaple--green {
		height:559px;
	}
	
	.text__tile-main {
		margin:40px 0px  32px;
	}
	
	.box__step-text {
		font-size:14px;
		margin-right:11px;
	}
	
	.box__step-text--right {
		font-size:14px;
	}
	
	.box__help--center {
		padding-top:88px;
	}
	.span_postscript-text {
		font-size:16px;
	}
	
	.span_customer-name {
		font-size:14px;
	}
	
	.img__review {
	    margin: 50px 0 30px 0px;
	}
	
	.box__postscript-text {
	    margin: 88px 0 0;
	    padding: 88px 0;
	}
	
	.span__whaple-text {
		font-size:24px;
	}
	
	.span__postscript-title {
		font-size:24px;
	}
	
	.span__help {
		font-size:16px;
		margin-bottom: 20px;
	}
	
	.box__intro-btn-tile {
		width:342px;
		min-width:290px;
		height:56px;
		 align-items:center;
	  	justify-content: center;
	 	display:flex;
	}
	.span__intro-btn-tile-text {
		margin-right:20px;
	}
	.box__intro-btn-offer {
		width:342px;
		min-width:290px;
		margin-left: 0px;
		height:56px;
		align-items:center;
  		justify-content: center;
 		display:flex;
 		margin-top: 15px;
	}
	
	.box__whaple--white {
		  background-image: url(/assets/resources/logo/ic_logo_cnt_w_sm.svg);
		  height:56px;
	}
}

/* extra small*/ 
@media all and (max-width:575px) { 
	.box__intro-btn-tile {
		width:100% !important;
	}
	
	.box__intro-btn-offer {
		width:100% !important;
	}
}

.box__intro-btn-tile:hover {background-color: #fec9c4;}
.box__intro-btn-tile:active {background-color: #fec9c4;}
.box__intro-btn-offer:hover{background-color: rgba(255, 255, 255, 0.1);}
.box__intro-btn-offer:active{background-color: rgba(255, 255, 255, 0.1);}