<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="css"></th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
 
<!-- <head>
<style>
body {
	padding-top: 54px;
}

@media ( min-width : 992px) {
	body {
		padding-top: 56px;
	}
}
</style> 
</head> -->
<div layout:fragment="sub">
	<div class="text-center mb-4 mt-4">
		<h2>로그인</h2>
		<small>Welcome To Connect Brick</small>
	</div>
</div>
<div layout:fragment="content">
	<div class="justify-content-center row bg-light">
		<div class="col-lg-10 justify-content-center row mt-5">
			<form name="loginForm" th:action="@{/login}" method="post" class="col-lg-6">
				<div class="m-4">
					<input type="text" name="id" id="id" placeholder="아이디" 
						class="form-control form-control-lg col-lg-12 border" 
						aria-describedby="inputGroup-sizing-lg" style="background-color: transparent;"/>
				</div>
				<div class="m-4">
					<input type="password" name="password" id="password" placeholder="비밀번호" 
						class="form-control form-control-lg col-lg-12 border" 
						aria-describedby="inputGroup-sizing-lg" style="background-color: transparent;"/>
				</div>
				<!-- <div class="row m-4">
					<div class="custom-control custom-checkbox mr-3">
						<input type="checkbox" class="custom-control-input" id="savingUserInfo">
						<label class="custom-control-label" for="savingUserInfo">아이디 저장</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="autoLogin">
						<label class="custom-control-label" for="autoLogin">자동 로그인</label>
					</div>
				</div> -->
				<div class="m-4">
					<button type="submit" class="btn btn-info btn-lg col-lg-12">로그인</button>
				</div>
				<div class="m-4 mt-5">
				</div>
			</form>
		
		</div>
	</div>
</div>

</html>
