<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/master_nav">

<th:block layout:fragment="css">	
	<link rel="stylesheet" href="/lib/summernote/summernote-bs4.css"></link>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/css/dd.min.css" />
</th:block>

<th:block layout:fragment="script">
	<script type="text/javascript" src="/assets/js/component/master/-image-register.js"></script>
	<script src="/lib/summernote/summernote-bs4.js"></script>
	<script src="/lib/summernote/summernote-ko-KR.js"></script>
	<script src="/assets/js/common/wysiwyg/summernote_editor.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/js/dd.min.js"></script>
</th:block>

<div layout:fragment="content">
	<div class="justify-content-center row bg-light">
		<div class="col-12 p-3"></div>
		<div class="col-md-8">
			<span>시공사례 수정</span>
		</div>				
		<div class="col-12 p-3"></div>
		<div class="col-md-8">
			<form id="consReviewUpdateform" class="needs-validation was-validated" name="consReviewUpdateform" th:action="@{${T(com.connect.brick.config.RequestMappingConstants)._MASTER_CONS_REVIEW_MOD}}" method="post">
				<input type="hidden" name="consReviewNo" th:value="${consReview.consReviewNo}">
				<table class="table">
					<tr>
						<th>표지 사진</th>
						<td>
							<div class="custom-file">
								<input type="file" class="custom-file-input _reg_image" id="mainImage" th:value="${consReview.mainImage.thumbnailName}">
								<label class="custom-file-label" for="mainImage" th:text="${consReview.mainImage.thumbnailName}">Choose file</label>
								<input type="hidden" class="_reg_image_param" id="mainImageNo" name="mainImage.no" th:value="${consReview.mainImage.no}">
							</div>
						</td>
						<td rowspan="2">
							<img th:src="@{ '/image_storage/' + ${consReview.mainImage.thumbnailPath} +'/'+ ${consReview.mainImage.thumbnailName}}"
							class="_reg_image_preview" alt="표지 이미지" id="mainImagePreview" style="width: 150px; height: 150px;">
						</td>
					</tr>
					<tr>
						<th>건물 유형</th>
						<td>
							<div class="custom-control custom-radio custom-control-inline">
							    <input type="radio" class="custom-control-input" id="customControlValidation1" name="typeHouse" th:value="아파트" th:checked="${consReview.typeHouse}=='아파트'">
							    <label class="custom-control-label" for="customControlValidation1">아파트</label>
							    </div>
							<div class="custom-control custom-radio custom-control-inline">
							    <input type="radio" class="custom-control-input" id="customControlValidation2" name="typeHouse" th:value="주상복합" th:checked="${consReview.typeHouse}=='주상복합'">
							    <label class="custom-control-label" for="customControlValidation2">주상복합</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							    <input type="radio" class="custom-control-input" id="customControlValidation3" name="typeHouse" th:value="오피스텔" th:checked="${consReview.typeHouse}=='오피스텔'">
							    <label class="custom-control-label" for="customControlValidation3">오피스텔</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							    <input type="radio" class="custom-control-input" id="customControlValidation4" name="typeHouse" th:value="빌라" th:checked="${consReview.typeHouse}=='빌라'">
							    <label class="custom-control-label" for="customControlValidation4">빌라</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							    <input type="radio" class="custom-control-input" id="customControlValidation5" name="typeHouse" th:value="주택" th:checked="${consReview.typeHouse}=='주택'">
							    <label class="custom-control-label" for="customControlValidation5">주택</label>
							</div>
						</td>
					</tr>
					<tr>
						<th>시공 범위</th>
						<td>
						<div class="custom-control custom-checkbox custom-control-inline">
						  <input type="checkbox" class="custom-control-input" id="customCheck1" name="isLivingFloor" value="1" th:checked="${consReview.isLivingFloor}==1">
						  <label class="custom-control-label" for="customCheck1">거실 바닥</label>
						</div>
						<div class="custom-control custom-checkbox custom-control-inline">
						  <input type="checkbox" class="custom-control-input" id="customCheck2" name="isKitchenFloor" value="1" th:checked="${consReview.isKitchenFloor}==1">
						  <label class="custom-control-label" for="customCheck2">주방 바닥</label>
						</div>
						<div class="custom-control custom-checkbox custom-control-inline">
						  <input type="checkbox" class="custom-control-input" id="customCheck3" name="isRoomFloor" value="1" th:checked="${consReview.isRoomFloor}==1">
						  <label class="custom-control-label" for="customCheck3">방 바닥</label>
						</div>
						</td>
					</tr>
					</table>
					<table class="table">
					<tr>
						<th>평수</th>
						<td>
							<div class="custom-control-inline">
							<input type="text" class="form-control" name="acreage" placeholder="ex) 31" th:value="${consReview.acreage}" required>
							<label>&nbsp;&nbsp;&nbsp;평</label>
							</div>
							<div class="invalid-feedback">
          						평수를 입력해 주세요.
        					</div>
						</td>
						<th>시공 금액</th>
						<td>
							<div class="custom-control-inline">
							<input type="text" class="form-control" name="cost" placeholder="ex) 320" th:value="${consReview.cost}" required>
							<label>만원대</label>
							</div>
							<div class="invalid-feedback">
          						시공금액을 입력해 주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th>시공 기간</th>
						<td>
							<div class="custom-control-inline">
							<input type="text" class="form-control" name="period" placeholder="ex) 4일" th:value="${consReview.period}" required>
							<label>&nbsp;&nbsp;&nbsp;일</label>
							</div>
							<div class="invalid-feedback">
          						시공기간을 입력해 주세요.
        					</div>
						</td>
						<th>태그</th>
						<td>
							<input type="text" class="form-control" name="tags" placeholder="ex) #포세린 타일" th:value="${consReview.tags}">
						</td>
					</tr>
					</table>
					<table class="table">
					<tr>
						<th>시공 타일</th>
						<td>
							<select id="mtContents" name="mtContents.no" style="width:100%;"is="ms-dropdown" data-visible-rows="10" data-error-message="항목을 선택해 주세요."required>
        						<option th:value="''"selected>===선택===</option>
								<th:block th:each="materials : ${materials}" >
									<option th:value="${materials.no}" th:data-image="@{ '/image_storage/' + ${materials.mainImage.thumbnailPath} +'/'+ ${materials.mainImage.thumbnailName} }" th:text="${materials.cbName}+' <hr> ('+${materials.mtClass.classSm}+', '+${materials.mtSpec.mainColor.mainColorName}+', 소비자가격: '+ ${materials.mtSales.salesPrice} +'원, 공급가격: '+${materials.mtSales.consumerPrice}+'원)'" th:selected="${consReview.mtContents.no}==${materials.no} ? true : false"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<th>주소</th>
						<td>
							<input type="text" class="form-control" name="address" placeholder="주소" th:value = "${consReview.address}" required>
							
							<div class="invalid-feedback">
          						주소를 입력해 주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th>제목</th>
						<td>
							<input type="text" class="form-control" name="consReviewTitle" placeholder="제목" th:value = "${consReview.consReviewTitle}" required>
							
							<div class="invalid-feedback">
          						제목을 입력해 주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th>작성자</th>
						<td>
							<input type="text" class="form-control" name="consReviewWriter" placeholder="작성자" th:value = "${consReview.consReviewWriter}" required>
							<div class="invalid-feedback">
          						작성자를 입력해 주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th>내용</th>
						<td>
							<textarea id="summernote" name="consReviewContents" th:text="${consReview.consReviewContents}"></textarea>
							<div class="invalid-feedback">
          						내용을 입력해 주세요.
        					</div>
						</td>
					</tr>
				</table>
				<div class="col-12 p-3"></div>
				<button type="submit" class="btn btn-primary">수정하기</button>
				<a th:href="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_CONS_REVIEW_LIST}" class="btn btn-info">목록으로</a>
			</form>
		</div>
		<div class="col-12 p-3"></div>
	</div>
</div>
</html>
