<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/estimate_form_default">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/css/layout/estimate_form.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" src="/assets/js/component/estimate/estimate_form.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>

<div layout:fragment="content">
	<div class="test justify-content-center p-0 m-0">
		<div class="progress" style="display: none;">
			<div class="progress-bar primary500" role="progressbar" id="progress-bar"></div>
		</div>
		<div class="estimate_form_container" id="startPage">
			<div class="title_text">
				<span class="display3">원하는 타일 선택하고<br>간편 견적서를 받아보세요.</span>
			</div>
			<div class="start_image_container">
				<div class="cons_area_container">
				<img src="/assets/resources/icon/estimate_form/image_service_location@3x.png" class="start_image">
				<div class="bt-tertiary-s-default cons_area_detail" data-toggle="modal" data-target="#ServiceAreaModal">
					<span class="h6 gray500 m-0">가능 지역 자세히보기</span>
				</div>
				</div>
			</div>
			<div class="bt-primary-default start_button">
				<span class="h5 white m-0">신청하기</span>
			</div>
			<div class="title_text">
				<span class="caption gray_color">원하는 인테리어 타일을 선택해 주세요.<br>고객님을 위한 모바일 견적서를 보내드립니다.</span>
			</div>
			<div class="col-12 start_bottom_padding"></div>
		</div>
		<form id="orderForm" name="orderForm" th:action="${T(com.connect.brick.config.RequestMappingConstants)._GOOGLE_FORM_REG}" method="post">
		<ul class="slide-box p-0 m-0" id="slickSlide" style="display:none;">	
			<li>
				<div class="estimate_form_container">
					<div class="title_select_text">
						<span class="display4">견적이 궁금한 타일을 선택해 주세요. </span>
					</div>
					<div class="tile_list_text">
						<span class="h4">와플 추천 타일</span>
					</div>
					<div class="recommend_tile_text">
						<span class="body3 gray600">시공 문의가 가장 많은 타일 상품을 추천해 드릴게요.</span>
					</div>
					<div class="row p-0 popular_product_list_box">
						<th:block th:each="peList: ${storeRankingPopularList}">
							<th:block th:insert="fragments/common/estimate_card_deck :: cardDeckFragment" th:with="dpMaterial=${peList.material.dpMaterial}"></th:block>
						</th:block>
					</div>
					<div class="view_all_text" id="viewAllText">
						<div class="col-12 p-2"></div>
						<div class="view_more_button">
							<span class="body3">전체 상품 더보기</span>
							<img src="/assets/resources/icon/estimate_form/ic_chevron_black_16.svg">
						</div>
						<div class="col-12 p-4"></div>
					</div>
					<div class="tile_all_list"  id="tileAllList">
						<div class="recommend_tile_text">
							<span class="h4">전체 타일</span>
						</div>
						<div class="row p-0 popular_product_list_box">
							<th:block th:each="allList: ${allList}">
								<th:block th:insert="fragments/common/estimate_card_deck :: cardDeckFragment" th:with="dpMaterial=${allList}"></th:block>
							</th:block>
						</div>
					</div>
				</div>
			</li>
			
			<li>
				
				<div class="estimate_form_container">
					<div class="title_select_text">
						<span class="display4" id="typeHouseFocus" >건물 종류를 선택해 주세요.</span>
					</div>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="building_radio_input" type="radio" name="typeHouse" id="typehouse1" value="1">
						  <label class="body2 building_radio" for="typehouse1">아파트</label>
						</div>
						<div class="form-check box_align">
						  <input class="building_radio_input" type="radio" name="typeHouse" id="typehouse2" value="2">
						  <label class="body2 building_radio" for="typehouse2">주상복합</label>
						</div>
						<div class="form-check box_align">
						  <input class="building_radio_input" type="radio" name="typeHouse" id="typehouse3" value="3">
						  <label class="body2 building_radio" for="typehouse3">오피스텔</label>
						</div>
						<div class="form-check box_align">
						  <input class="building_radio_input" type="radio" name="typeHouse" id="typehouse4" value="4">
						  <label class="body2 building_radio" for="typehouse4">빌라</label>
						</div>
						<div class="form-check box_align">
						  <input class="building_radio_input" type="radio" name="typeHouse" id="typehouse5" value="5">
						  <label class="body2 building_radio" for="typehouse5">주택</label>
						</div>
						<div class="form-check box_align">
						  <input class="building_radio_input" type="radio" name="typeHouse" id="typehouse6" value="6">
						  <label class="body2 building_radio" for="typehouse6">상업공간</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 type_select_padding"></div>
				</div>
			</li>
			<li>
				<div class="estimate_form_container">
					<span class="display4" id="arrangeFocus">어떤 공간을 바꾸고 싶으세요?</span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input type="checkbox" class="arrange_group" name="isLivingFloor" value="true" id="living" checked onClick="return false;"/>
						  <label class="body2 arrange_checkbox" for="living">거실 바닥</label>
						</div>
						<div class="form-check box_align">
						  <input type="checkbox" class="arrange_group"  name="isKitchenFloor" value="true" id="kitchen">
						  <label class="body2 arrange_checkbox" for="kitchen">주방 바닥</label>
						</div>
						<div class="form-check box_align">
						  <input type="checkbox" class="arrange_group" name="isRoomFloor" value="true" id="room">
						  <label class="body2 arrange_checkbox" for="room">방 바닥</label>
						</div>
						<div class="form-check box_align">
						  <input type="checkbox" name="isEntranceFloor" value="true"id="entrance">
						  <label class="body2" for="entrance">현관 바닥 (개별 시공 불가)</label>
						</div>
						<div class="form-check box_align">
						  <input type="checkbox" name="isVerandaFloor" value="true" id="veranda">
						  <label class="body2" for="veranda">베란다 (개별 시공 불가)</label>
						</div>
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 현관, 베란다는 개별 시공이 불가능 합니다.</span><!-- padding height 확인 -->
					</div>
					<div class="validation_check">
						<span class="body3 secondary500">필수 입력 항목입니다</span>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4">베란다 확장 여부를 알려주세요.</span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input type="checkbox" class="expand_veranda" name="isExpandLiving" value="true" id="expandLiving">
						  <label class="body2"  for="expandLiving">거실 베란다 확장됨 (또는 예정)</label>
						</div>
						<div class="form-check box_align">
						  <input type="checkbox" class="expand_veranda" name="isExpandKitchen" value="true" id="expandKitchen" disabled>
						  <label class="body2"  for="expandKitchen">주방 베란다 확장됨 (또는 예정)</label>
						</div>
						<div class="form-check box_align">
						  <input type="checkbox" class="expand_veranda" name="isExpandRoom" value="true" id="expandRoom" disabled>
						  <label class="body2"  for="expandRoom">방 베란다 확장됨 (또는 예정)</label>
						</div>
					</div>
					
					<div class="col-12 p-4"></div>
					
					
					<span class="display4" id="destroyFocus">기존 바닥재 철거 여부를 알려주세요.</span>
					
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="destroy_group" type="radio" name="isDestroy" id="destroy1" value="와플에서철거예정">
						  <label class="body2 destroy_group_label" for="destroy1">와플에서 철거 예정</label>
						</div>
						<div class="form-check box_align">
						  <input class="destroy_group" type="radio" name="isDestroy" id="destroy2" value="타업체에서철거예정">
						  <label class="body2 destroy_group_label" for="destroy2">타 업체에서 철거 예정</label>
						</div>
						<div class="form-check box_align">
						  <input class="destroy_group" type="radio" name="isDestroy" id="destroy3" value="이미철거함">
						  <label class="body2 destroy_group_label" for="destroy3">이미 철거함</label>
						</div>
					</div>
					
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 와플은 시공 품질을 위해 “철거 후 시공”을 기본으로 진행합니다. 
						철거 여부에 따라 견적가가 달라질 수 있으며, 타 업체 철거 시 
						발생하는 문제에 대해서는 책임지지 않습니다.</span><!-- padding height 확인 -->
					</div>
					<div class="validation_check">
						<span class="body3 secondary500">필수 입력 항목입니다</span>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4">철거할 기존 바닥재를 알려주세요.</span>
					
					<div class="caption_text">
						<span class="body3 gray600">자재 종류에 따라 철거비가 달라집니다. 자재를 모르시는 경우, 마루 철거비로 견적서를 보내드리며 추후 상담을 통해 정확한 견적을 안내해 드립니다.</span>
					</div>
					
					<div class="select_container">
					<span class="h4 selectbox_text" id="destroyLivingText">거실 바닥</span>
					<select name="livingFloorMaterial" class="dropdown_box gray200" id="destroyLiving" disabled>
						<option value="" selected disabled hidden>자재 선택</option>
						<option value="1">마루</option>
						<option value="2">장판</option>
						<option value="3">타일</option>
						<option value="4">알 수 없음</option>
					</select>
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="select_container">
					<span class="h4 selectbox_text" id="destroyKitchenText">주방 바닥</span>
					<select name="kitchenFloorMaterial" class="dropdown_box gray200" id="destroyKitchen" disabled>
						<option value="" selected disabled hidden>자재 선택</option>
						<option value="1">마루</option>
						<option value="2">장판</option>
						<option value="3">타일</option>
						<option value="4">알 수 없음</option>
					</select>
					<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
					</div>
					</div>
					<div class="select_container">
						<span class="h4 selectbox_text" id="destroyRoomText">방 바닥</span>
						<select name="roomFloorMaterial" class="dropdown_box gray200" id="destroyRoom" disabled>
							<option value="" selected disabled hidden>자재 선택</option>
							<option value="1">마루</option>
							<option value="2">장판</option>
							<option value="3">타일</option>
							<option value="4">알 수 없음</option>
						</select>
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 p-4"></div>
				</div>
			</li>
			<li>
				<div class="estimate_form_container">
					<span class="display4">시공 공간의 면적을 알려주세요.</span>
					<div class="caption_text">
						<span class="body3 gray600">자세한 면적을 알려주실수록 견적이 보다 정확해집니다.</span>
					</div>
					<div class="col-12 p-2"></div>
					<div class="area_change_container">
						<div>
						<span class="h4" id="supTextVal">공급 면적 (필수)</span>
						<span class="h4" id="supText">공급 면적 (선택)</span>
						</div>
						<div class="area_change">
							<input type="tel" pattern="\d*" id="areaSupNum" class="area_cheange_input" value="0" name="supAreaView">
							<span class="input_text" id="areaSupDefault">㎡</span>
							<span class="input_text" id="areaSup">평</span>
							<img id="tileImage" src="/assets/resources/icon/estimate_form/ic_sync_gray_18.svg">
							<span class="body2 acreage_text_number" id="acreageSupNum">0</span>
							<span class="body2" id="acreageSupDefault">평</span>
							<span class="body2" id="acreageSup">㎡</span>
							<div class="acreage_change_box_m black" id="changeSupM">
								<span class="h4 white">㎡</span>
							</div>
							<div class="acreage_change_box_a gray400" id="changeSupA">
								<span class="h4 white">평</span>
							</div>
							<input type="hidden" id="supValue" name="supArea" value="">
						</div>
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="area_change_container">
						<div>
						<span class="h4" id="dedTextVal">전용 면적 (필수)</span>
						<span class="h4" id="dedText">전용 면적 (선택)</span>
						</div>
						<div class="area_change">
							<input type="tel" pattern="\d*" id="areaDedNum" class="area_cheange_input" value="0" name="dedAreaView">
							<span class="input_text" id="areaDedDefault">㎡</span>
							<span class="input_text" id="areaDed">평</span>
							<img src="/assets/resources/icon/estimate_form/ic_sync_gray_18.svg">
							<span class="body2 acreage_text_number" id="acreageDedNum">0</span>
							<span class="body2" id="acreageDedDefault">평</span>
							<span class="body2" id="acreageDed">㎡</span>
							<div class="acreage_change_box_m black" id="changeDedM">
								<span class="h4 white">㎡</span>
							</div>
							<div class="acreage_change_box_a gray400" id="changeDedA">
								<span class="h4 white">평</span>
							</div>		
							<input type="hidden" id="dedValue" name="dedArea" value="">		
						</div>
						<div class="validation_check_small">
								<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>		
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 모든 주거시설은 공급면적과 전용면적을 보유하고 있습니다. 정확한 면적은 <a href="https://new.land.naver.com/" target="_blank">네이버 부동산</a>을 통해 검색이 가능합니다.</span>
					</div>
					<div class="col-12 p-2"></div>
					<div class="area_change_container">
						<div>
						<span class="h4">시공 면적 (선택)</span>
						</div>
						<div class="area_change">
							<input type="tel" pattern="\d*" id="areaConsNum" class="area_cheange_input" value="0" name="consAreaView">
							<span class="input_text" id="areaConsDefault">㎡</span>
							<span class="input_text" id="areaCons">평</span>
							<img src="/assets/resources/icon/estimate_form/ic_sync_gray_18.svg">
							<span class="body2 acreage_text_number" id="acreageConsNum">0</span>
							<span class="body2" id="acreageConsDefault">평</span>
							<span class="body2" id="acreageCons">㎡</span>
							<div class="acreage_change_box_m black" id="changeConsM">
								<span class="h4 white">㎡</span>
							</div>
							<div class="acreage_change_box_a gray400" id="changeConsA">
								<span class="h4 white">평</span>
							</div>
							<input type="hidden" id="consValue" name="areaCons" value="">
						</div>
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 고객님께서 직접 실측이 가능한 경우에만 입력해 주세요. 시공 면적을 통해 보다 정확한 견적서를 제공해 드립니다.</span>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4" id="cntRoomFocus">방/욕실 개수를 알려주세요.</span>
					<div class="select_container">
						<span class="h4">방</span>
						<select name="cntRoom" class="dropdown_box gray200" id="cntRoom">
							<option value="" selected disabled hidden>방 0개</option>
							<option value="1">방 1개</option>
							<option value="2">방 2개</option>
							<option value="3">방 3개</option>
							<option value="4">방 4개</option>
							<option value="5">방 5개</option>
						</select>
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="select_container">
						<span class="h4">욕실</span>
						<select name="cntBath" class="dropdown_box gray200" id="cntBath">
							<option value="" selected disabled hidden>욕실 0개</option>
							<option value="1">욕실 1개</option>
							<option value="2">욕실 2개</option>
							<option value="3">욕실 3개</option>
							<option value="4">욕실 4개</option>
							<option value="5">욕실 5개</option>
						</select>
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4" id="moldingFocus">몰딩(걸레받이) 여부를 알려주세요.</span>
					<div class="caption_text">
						<span class="body3 gray600">벽과 바닥재의 사이를 마감하는 몰딩(걸레받이)의 현재 상황을 알려주세요.</span>
					</div>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="molding_group" type="radio" name="isMolding" id="molding1" value="1">
						  <label class="body2 molding_group_label" for="molding1">몰딩 없음</label>
						</div>
						<div class="form-check box_align">
						  <input class="molding_group" type="radio" name="isMolding" id="molding2" value="2">
						  <label class="body2 molding_group_label" for="molding2">몰딩 있음 (기존 몰딩 유지)</label>
						</div>
						<div class="form-check box_align">
						  <input class="molding_group" type="radio" name="isMolding" id="molding3" value="3">
						  <label class="body2 molding_group_label" for="molding3">몰딩 있음 (새 몰딩 교체 예정)</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4" id="stateSpaceFocus">현재 공간의 상황을 알려주세요.</span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="state_group" type="radio" name="stateSpace" id="stateSpace1" value="1">
						  <label class="body2 state_group_label" for="stateSpace1">빈집</label>
						</div>
						<div class="form-check box_align">
						  <input class="state_group" type="radio" name="stateSpace" id="stateSpace2" value="2">
						  <label class="body2 state_group_label" for="stateSpace2">시공일에 빈집 예정 (현재 타인 거주중)</label>
						</div>
						<div class="form-check box_align">
						  <input class="state_group" type="radio" name="stateSpace" id="stateSpace3" value="3">
						  <label class="body2 state_group_label" for="stateSpace3">거주중 (보관이사/짐 이동 예정)</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 시공 당일에 짐이 있다면 시공이 불가능 합니다.</span>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4" id="elevatorFocus">엘리베이터 유무를 알려주세요.</span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="elevator_group" type="radio" name="isElevator" id="isElevator1" value="1">
						  <label class="body2 elevator_group_label" for="isElevator1">있음</label>
						</div>
						<div class="form-check box_align">
						  <input class="elevator_group" type="radio" name="isElevator" id="isElevator2" value="0">
						  <label class="body2 elevator_group_label" for="isElevator2">없음</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 p-4"></div>
				</div>
			</li>
			<li>
				<div class="estimate_form_container">
					<div class="title_select_text">
						<span class="display4" id="spaceFocus">어떤 공간을 바꾸고 싶으세요?</span>
					</div>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="space_group" type="radio" name="spaceUse" id="spaceUse1" value="1">
						  <label class="body2 space_group_label" for="spaceUse1">사무실</label>
						</div>
						<div class="form-check box_align">
						  <input class="space_group" type="radio" name="spaceUse" id="spaceUse2" value="2">
						  <label class="body2 space_group_label" for="spaceUse2">매장</label>
						</div>
						<div class="form-check box_align">
						  <input class="space_group" type="radio" name="spaceUse" id="spaceUse3" value="3">
						  <label class="body2 space_group_label" for="spaceUse3">카페</label>
						</div>
						<div class="form-check box_align">
						  <input class="space_group" type="radio" name="spaceUse" id="spaceUse4" value="4">
						  <label class="body2 space_group_label" for="spaceUse4">식당</label>
						</div>
						<div class="form-check box_align"> 
						  <input class="space_group" type="radio" name="spaceUse" id="spaceUse5" value="5">
						  <label class="body2 space_group_label" for="spaceUse5">교육</label>
						</div>
						<div class="form-check box_align">
						  <input class="space_group" type="radio" name="spaceUse" id="spaceUse6" value="6">
						  <label class="body2 space_group_label" for="spaceUse6">숙박</label>
						</div>
					</div>
					<div class="validation_check">
						<span class="body3 secondary500">필수 입력 항목입니다</span>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4" id="destroyCommerce">기존 바닥재 철거 여부를 알려주세요.</span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="destroy_group_commerce" type="radio" name="isDestroy" id="destroy4" value="와플에서철거예정">
						  <label class="body2 destroy_commerce_label" for="destroy4">와플에서 철거 예정</label>
						</div>
						<div class="form-check box_align">
						  <input class="destroy_group_commerce" type="radio" name="isDestroy" id="destroy5" value="타업체에서철거예정">
						  <label class="body2 destroy_commerce_label" for="destroy5">타 업체에서 철거 예정</label>
						</div>
						<div class="form-check box_align">
						  <input class="destroy_group_commerce" type="radio" name="isDestroy" id="destroy6" value="이미철거함">
						  <label class="body2 destroy_commerce_label" for="destroy6">이미 철거함</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 와플은 시공 품질을 위해 “철거 후 시공”을 기본으로 진행합니다. 
						철거 여부에 따라 견적가가 달라질 수 있으며, 타 업체 철거 시 
						발생하는 이슈에 대해서는 책임지지 않습니다.</span>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4" id="floorFocus">기존 바닥재의 종류를 알려주세요.</span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="floor_group" type="radio" name="commercialFloorMaterial" id="commercialFloorMaterial1" value="1">
						  <label class="body2 floor_group_label" for="commercialFloorMaterial1">에폭시</label>
						</div>
						<div class="form-check box_align">
						  <input class="floor_group" type="radio" name="commercialFloorMaterial" id="commercialFloorMaterial2" value="2">
						  <label class="body2 floor_group_label" for="commercialFloorMaterial2">타일</label>
						</div>
						<div class="form-check box_align">
						  <input class="floor_group" type="radio" name="commercialFloorMaterial" id="commercialFloorMaterial3" value="3">
						  <label class="body2 floor_group_label" for="commercialFloorMaterial3">마루</label>
						</div>
						<div class="form-check box_align">
						  <input class="floor_group" type="radio" name="commercialFloorMaterial" id="commercialFloorMaterial4" value="4">
						  <label class="body2 floor_group_label" for="commercialFloorMaterial4">장판</label>
						</div>
						<div class="form-check box_align">
						  <input class="floor_group" type="radio" name="commercialFloorMaterial" id="commercialFloorMaterial5" value="5">
						  <label class="body2 floor_group_label" for="commercialFloorMaterial5">알수없음</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 p-4"></div>
				</div>
			</li>
			<li>
				<div class="estimate_form_container">
					<span class="display4">시공 공간의 면적을 알려주세요.</span>
					<div class="caption_text">
						<span class="body3 gray600">자세한 면적을 알려주실수록 견적이 보다 정확해집니다.</span>
					</div>
					<div class="col-12 p-2"></div>
					<div class="area_change_container">
						<div>
						<span class="h4" id="dedTextValCm">전용 면적 (필수)</span>
						</div>
						<div class="area_change">
							<input type="tel" pattern="\d*" id="areaDedNumCm" class="area_cheange_input" value="0" name="dedAreaCommerView">
							<span class="input_text" id="areaDedCmDefault">㎡</span>
							<span class="input_text" id="areaDedCm">평</span>
							<img src="/assets/resources/icon/estimate_form/ic_sync_gray_18.svg">
							<span class="body2 acreage_text_number" id="acreageDedNumCm">0</span>
							<span class="body2" id="acreageDedCmDefault">평</span>
							<span class="body2" id="acreageDedCm">㎡</span>
							<div class="acreage_change_box_m black" id="changeDedMCm">
								<span class="h4 white">㎡</span>
							</div>
							<div class="acreage_change_box_a gray400" id="changeDedACm">
								<span class="h4 white">평</span>
							</div>				
						</div>
						<div class="validation_check_small">
								<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>		
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 모든 주거시설은 공급면적과 전용면적을 보유하고 있습니다. 정확한 면적은 <a href="https://new.land.naver.com/" target="_blank">네이버 부동산</a>을 통해 검색이 가능합니다.</span>
					</div>
					<div class="col-12 p-2"></div>
					<div class="area_change_container">
						<div>
						<span class="h4">시공 면적 (선택)</span>
						</div>
						<div class="area_change">
							<input type="tel" pattern="\d*" id="areaConsNumCm" class="area_cheange_input" value="0" name="consAreaCommerView">
							<span class="input_text" id="areaConsCmDefault">㎡</span>
							<span class="input_text" id="areaConsCm">평</span>
							<img src="/assets/resources/icon/estimate_form/ic_sync_gray_18.svg">
							<span class="body2 acreage_text_number" id="acreageConsNumCm">0</span>
							<span class="body2" id="acreageConsCmDefault">평</span>
							<span class="body2" id="acreageConsCm">㎡</span>
							<div class="acreage_change_box_m black" id="changeConsMCm">
								<span class="h4 white">㎡</span>
							</div>
							<div class="acreage_change_box_a gray400" id="changeConsACm">
								<span class="h4 white">평</span>
							</div>
						</div>
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 고객님께서 직접 실측이 가능한 경우에만 입력해 주세요. 시공 면적을 통해 보다 정확한 견적서를 제공해 드립니다.</span>
					</div>
					<div class="col-12 p-4"></div>
					
					<span class="display4" id="moldingFocusCm">몰딩(걸레받이) 여부를 알려주세요.</span>
					<div class="caption_text">
						<span class="body3 gray600">벽과 바닥재의 사이를 마감하는 몰딩(걸레받이)의 현재 상황을 알려주세요.</span>
					</div>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="molding_group_commerce" type="radio" name="isMolding" id="moldingCommerce1" value="1">
						  <label class="body2 molding_commerce_label" for="moldingCommerce1">몰딩 없음</label>
						</div>
						<div class="form-check box_align">
						  <input class="molding_group_commerce" type="radio" name="isMolding" id="moldingCommerce2" value="2">
						  <label class="body2 molding_commerce_label" for="moldingCommerce2">몰딩 있음 (기존 몰딩 유지)</label>
						</div>
						<div class="form-check box_align">
						  <input class="molding_group_commerce" type="radio" name="isMolding" id="moldingCommerce3" value="3">
						  <label class="body2 molding_commerce_label" for="moldingCommerce3">몰딩 있음 (새 몰딩 교체 예정)</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4" id="stateSpaceFocusCm">현재 공간의 상황을 알려주세요.</span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="state_group_commerce" type="radio" name="stateSpaceCommerce" id="stateSpaceCommerce1" value="1">
						  <label class="body2 state_commerce_label" for="stateSpaceCommerce1">현재 공실 (계약 전)</label>
						</div>
						<div class="form-check box_align">
						  <input class="state_group_commerce" type="radio" name="stateSpaceCommerce" id="stateSpaceCommerce2" value="2">
						  <label class="body2 state_commerce_label" for="stateSpaceCommerce2">현재 공실 (계약 완료)</label>
						</div>
						<div class="form-check box_align">
						  <input class="state_group_commerce" type="radio" name="stateSpaceCommerce" id="stateSpaceCommerce3" value="3">
						  <label class="body2 state_commerce_label" for="stateSpaceCommerce3">운영중 (보관이사/짐 이동 예정)</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 시공 당일에 짐이 있다면 시공이 불가능 합니다.</span>
					</div>
					<div class="col-12 p-4"></div>
					<span class="display4" id="elevatorFocusCm">엘리베이터 유무를 알려주세요.</span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="elevator_group_commerce" type="radio" name="isElevator" id="isElevatorCommerce1" value="1">
						  <label class="body2 elevator_commerce_label" for="isElevatorCommerce1">있음</label>
						</div>
						<div class="form-check box_align">
						  <input class="elevator_group_commerce" type="radio" name="isElevator" id="isElevatorCommerce2" value="0">
						  <label class="body2 elevator_commerce_label" for="isElevatorCommerce2">없음</label>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 p-4"></div>
				</div>
			</li> 
			<li>
				<div class="estimate_form_container">
					<span class="display4" id="wishFocus">시공 희망일이 언제인가요? </span>
					<div class="element_container">
						<div class="form-check box_align">
						  <input class="desire_group"type="radio" name="desireDate" id="desireDate1" value="2주후">
						  <label class="body2 desire_group_label" for="desireDate1">2주후</label>
						</div>
						<div class="form-check box_align">
						  <input class="desire_group" type="radio" name="desireDate" id="desireDate2" value="1개월이내">
						  <label class="body2 desire_group_label" for="desireDate2">1개월 이내</label>
						</div>
						<div class="form-check box_align">
						  <input class="desire_group" type="radio" name="desireDate" id="desireDate3" value="2개월이내">
						  <label class="body2 desire_group_label" for="desireDate3">2개월 이내</label>
						</div>
						<div class="form-check box_align">
						  <input class="desire_group" type="radio" name="desireDate" id=desireDate4 value="3개월이내">
						  <label class="body2 desire_group_label" for="desireDate4">3개월 이내</label>
						</div>
						<div class="form-check box_align">
						  <input class="desire_group" type="radio" name="desireDate" id="desireDate5" value="3개월이후">
						  <label class="body2 desire_group_label" for="desireDate5">3개월 이후</label>
						</div>
						<div class="form-check box_align">
						  <input class="desire_group" type="radio" name="desireDate" id="desireDate6" value="미정">
						  <label class="body2 desire_group_label" for="desireDate6">미정</label>
						</div>
						<div class="caption_text_background gray100">
						<span class="caption gray600">· 자재 발주 시간이 소요되므로 희망일을 넉넉하게 선택해 주세요.</span>
						</div>
						<div class="validation_check">
							<span class="body3 secondary500">필수 입력 항목입니다</span>
						</div>
					 </div>
					 <div class="col-12 desire_date_padding"></div>
				</div>
			</li>
			<li>
				<div class="estimate_form_container">
					<span class="display4">예상 견적서</span>
					<div class="caption_text">
						<span class="body3 gray600">선택한 타일의 상세 견적서를 문자로 보내드립니다.<br>다른 타일의 견적서도 같이 받고싶다면 요청사항으로 말씀해 주세요.</span>
					</div>
					<div class="tile_estimate">
						<div class="tile_estimate_detail">
							<div class="estimate_box_top">
								<div class="estimate_number secondary500">
									<span class="estimate_number_text white">견적서</span>
								</div>
							</div>
							<div class="row m-0">
								<img src="/assets/resources/icon/estimate_form/ic_sync_gray_18.svg" class="image_tile" id="tileImage1">
								<div>
									<div class="tile_name">
										<span class="h5" id="tileName1"></span>
									</div>
									<div class="row m-0 estimate_spec_box">
										<span class="caption gray600" id="classSm1"></span>
										<div class="dot"></div>
										<span class="caption gray600" id="surface1"></span>
										<div class="dot"></div>
										<span class="caption gray600" id="sizeW1"></span>
										<span class="caption gray600">x</span>
										<span class="caption gray600" id="sizeH1"></span>
									</div>
									<span class="display6 secondary500" id="totalCost1"></span>
								</div>
							</div>
						</div>
						<div class="tile_estimate_detail" id="tile_display2">
							<div class="estimate_box_top">
								<div class="estimate_number secondary500">
									<span class="estimate_number_text white">견적서 2</span>
								</div>
								<img src="/assets/resources/icon/estimate_form/close_gray600_24.svg" id="closeSecond" onclick="delete_estimate_calc(this)" class="estimate_close_img">
							</div>
							<div class="row m-0">
								<img src="/assets/resources/icon/estimate_form/ic_sync_gray_18.svg" class="image_tile" id="tileImage2">
								
								<div>
									<div class="tile_name">
										<span class="h5" id="tileName2"></span>
									</div>
									<div class="row m-0 estimate_spec_box">
										<span class="caption gray600" id="classSm2"></span>
										<div class="dot"></div>
										<span class="caption gray600" id="surface2"></span>
										<div class="dot"></div>
										<span class="caption gray600" id="sizeW2"></span>
										<span class="caption gray600">x</span>
										<span class="caption gray600" id="sizeH2"></span>
									</div>
									<span class="display6 secondary500" id="totalCost2"></span>
								</div>
							</div>
						</div>
						<div class="tile_estimate_detail" id="tile_display3">
							<div class="estimate_box_top">
								<div class="estimate_number secondary500">
									<span class="estimate_number_text white">견적서 3</span>
								</div>
								<img src="/assets/resources/icon/estimate_form/close_gray600_24.svg" id="closeThird" onclick="delete_estimate_calc(this)" class="estimate_close_img">
							</div>
							<div class="row m-0">
								<img src="/assets/resources/icon/estimate_form/ic_sync_gray_18.svg" class="image_tile" id="tileImage3">
								
								<div>
									<div class="tile_name">
										<span class="h5" id="tileName3"></span>
									</div>
									<div class="row m-0 estimate_spec_box">
										<span class="caption gray600" id="classSm3"></span>
										<div class="dot"></div>
										<span class="caption gray600" id="surface3"></span>
										<div class="dot"></div>
										<span class="caption gray600" id="sizeW3"></span>
										<span class="caption gray600">x</span>
										<span class="caption gray600" id="sizeH3"></span>
									</div>
									<span class="display6 secondary500" id="totalCost3"></span>
								</div>
							</div>
						</div>
						<div class="estimate_add" id="estimateAdd" style="display:none;">
							<img src="/assets/resources/icon/estimate_form/add_gray600_24.svg" class="image_add">
							<span class="h5 gray600 m-0">견적서 추가</span>
						</div>
					</div>
					<div class="add_request_box">
						<div class="add_request_text">
							<span class="h4 add_request_text_main">추가 요청사항</span>
							<span class="h6 letter_number">0/100</span>
						</div>
						<textarea name="memo" class="add_request_textarea" placeholder="원하는 타일 상품, 특이사항, 문의사항 등"></textarea>
					</div>
					<span class="display4">신청 정보</span>
					
					<div class="element_container">
						<span class="h4" id="addressFocus">시공할 곳의 주소</span>
						<div class="col-12 p-1"></div>
						<div class="address_box">
							<input type="text" class="input_info" id="address" name="customer.address" placeholder="주소" readonly>
							<div class="search_button" onclick="execDaumPostcode()" data-toggle="modal" data-target="#kakaoModal">
								<span class="body2 white">검색</span>
							</div>
						</div>
						<div class="col-12 p-1"></div>
						<input type="text" class="input_info" name="customer.addressDetail" id="addressDetail" placeholder="상세주소 (아파트동 또는 층수)">
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>	
					</div>
					
					
					<div class="element_container">
						<span class="h4" id="nameFocus">이름</span>
						<div class="col-12 p-1"></div>
						<input type="text" class="input_info" name="customer.name" id="customerName" placeholder="이름을 입력해 주세요.">
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>	
					</div>
					<div class="element_container">
						<span class="h4" id="phoneFocus">휴대폰 번호</span>
						<div class="col-12 p-1"></div>
						<input type="tel" class="input_info" name="customer.phoneNum" id="customerPhone" maxlength="13" placeholder="연락처를 입력해 주세요.">
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="box_align element_container">
						<input type="checkbox" name="customer.privacy" value="true" id="privacyCheck">
						<label class="body2" id="privacyCheckLabel" for="privacyCheck">(필수) 개인정보 수집 및 이용에 동의</label>
					</div>
					<div class="caption_text_background gray100">
						<span class="caption gray600">· 고객님의 소중한 개인 정보는 인테리어 견적 상담 서비스 제공을 위해서만 수집/이용됩니다. 개인 정보는 상담 서비스 외 다른 목적으로 활용하지 않으며, 상담 종료 시 즉시 폐기됩니다.</span>
					</div>
					<div class="validation_check">
						<span class="body3 secondary500">필수 입력 항목입니다</span>
					</div>
					<div class="add_request_box"></div>
					<span class="display4" id="funnelFocus">와플 서비스를 어떻게 알고 오셨나요?</span>
					<div class="caption_text">
						<span class="body3 gray600">고객님의 소중한 답변은 서비스 성장에 큰 도움이 됩니다.</span>
					</div>
					<div class="select_container">
						<span class="h4">유입경로</span>
						<select name="customer.funnel" class="dropdown_box gray200" id="customerFunnel"required>
							<option value="" selected disabled hidden>선택</option>
							<option value="네이버검색">네이버 검색</option>
							<option value="구글검색">구글 검색</option>
							<option value="구글광고">구글 광고</option>
							<option value="와플블로그">와플 블로그</option>
							<option value="카페">카페</option>
							<option value="타사서비스(오늘의집,숨고,수공등)">타사 서비스(오늘의집,숨고,수공등)</option>
							<option value="인스타그램">인스타그램</option>
							<option value="지인추천">지인추천</option>
							<option value="기타">기타</option>
							<option value="와플카카오채널문의">와플 카카오채널 문의</option>
							<option value="와플고객센터문의">와플 고객센터문의</option>
						</select>
						<div class="validation_check_small">
							<span class="h6 secondary500">필수 입력 항목입니다</span>
						</div>
					</div>
					<div class="col-12 p-4"></div>
				</div>
			</li> 
		</ul>
		</form>
		<div class="button_box" style="display: none;">
			<div class="bt-secondary-default prev_button">
				<span class="h5 primary500">뒤로</span>
			</div>
			<div class="bt-primary-default next_button">
				<span class="h5 white" id="nextButton">다음</span>
			</div>
		</div>
		<th:block th:each="allList: ${allList}">
			<div class="modal fade" th:id="'viewModal'+${allList.material.no}" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog modal-dialog-centered modal_container tile_modal" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<img class="close_button" data-dismiss="modal" src="/assets/resources/icon/estimate_form/modalbutton/bt-cs-popup-close.svg">
							<div th:id="'carousel'+${allList.material.no}" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
								    <div class="carousel-item active" th:classappend="'modal'+${allList.material.no}">
								      <img th:src="${allList.material.viewImage!=null} ? @{ '/image_storage/' + ${allList.material.viewImage.thumbnailPath} +'/'+ ${allList.material.viewImage.thumbnailName}} : ''" class="d-block img_size" alt="...">
								    </div>
								    <div class="carousel-item" th:classappend="'modal'+${allList.material.no}">
								   		<img th:src="@{ '/image_storage/' + ${allList.material.mainImage.thumbnailPath} +'/'+ ${allList.material.mainImage.thumbnailName}}" class="d-block img_size" alt="...">
								    </div>
								    <th:block th:each="image: ${allList.material.vrViewImages}">
									    <div class="carousel-item" th:classappend="'modal'+${allList.material.no}">
										    <img th:src="@{ '/image_storage/' + ${image.thumbnailPath} +'/'+ ${image.thumbnailName}}" class="d-block img_size" alt="...">
									    </div>
								    </th:block>
								    <th:block th:each="contents : ${allList.material.realConsImages}">
										<div class="carousel-item" th:classappend="'modal'+${allList.material.no}">
											<img th:src="@{ '/image_storage/' + ${contents.filePath} +'/'+ ${contents.fileName} }" class="d-block img_size" alt="...">
										</div>
								    </th:block>
								    <th:block th:each="image: ${allList.material.realProductImages}">
										<div class="carousel-item" th:classappend="'modal'+${allList.material.no}">
											<img th:src="@{ '/image_storage/' + ${image.thumbnailPath} +'/'+ ${image.thumbnailName}}" class="d-block img_size" alt="...">
										</div>
								    </th:block>
								</div>
								<a class="carousel-control-prev" th:href="'#carousel'+${allList.material.no}" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" th:href="'#carousel'+${allList.material.no}" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
							<div class="slide_index_container">
								<div class="slide_index">
									<span class="h6 primary500" th:id="'carouselNum'+${allList.material.no}"></span>
								</div>
							</div>
						</div>
						<div class="modal_tile_info_container">
							<div class="col-12 p-3"></div>
					  		<div class="_title_box h4" th:text="${allList.material.cbName}"></div>
							<div class="row m-0 _spec_box _spec_box_center">
								<span class="caption gray600" th:text="${allList.material.mtClass.classSm}">종류</span>
								<div class="dot"></div>
								<span class="caption gray600" th:text="${allList.material.mtSpec.surface}">무광</span>
								<div class="dot"></div>
								<span class="caption gray600" th:text="${allList.material.mtStd.sizeW}"></span>
								<span class="caption gray600">x</span>
								<span class="caption gray600" th:text="${allList.material.mtStd.sizeH}"></span>
								<span class="caption gray600 display_none_text">mm</span>
							</div>
							<div class="_price_box">
								<th:block th:if="${allList.material.mtSales.salesPrice > 0 && allList.material.mtSales.salesPrice != allList.material.mtSales.consumerPrice}">
									<span class="h4 secondary500" th:text="${#numbers.formatInteger(((1.0*allList.material.mtSales.consumerPrice - 1.0*allList.material.mtSales.salesPrice) / (1.0*allList.material.mtSales.consumerPrice)) * 100, 2) +'%'}"></span>&nbsp;
								</th:block>
								<th:block th:if="${allList.material.mtSales.consumerPrice == 0 && allList.material.mtSales.consumerPrice == allList.material.mtSales.salesPrice}">
									<span class="h4">별도문의</span>
								</th:block>
								<th:block th:if="${allList.material.mtSales.consumerPrice != 0 && allList.material.mtSales.salesPrice != 0 && allList.material.mtSales.consumerPrice != allList.material.mtSales.salesPrice}">
									<span class="h4" th:text="${#numbers.formatInteger(allList.material.mtSales.salesPrice, 0, 'COMMA')}"></span>
									<span class="h6">원&nbsp;/&nbsp;4장</span><span class="h6 display_none_text">(1box)</span>
								</th:block>
								<th:block th:if="${allList.material.mtSales.consumerPrice != 0 && allList.material.mtSales.salesPrice == 0}">
									<span class="h4" th:text="${#numbers.formatInteger(allList.material.mtSales.consumerPrice, 0, 'COMMA')}"></span>
									<span class="h6">원&nbsp;/&nbsp;4장</span><span class="h6 display_none_text">(1box)</span>
								</th:block>
								<th:block th:if="${allList.material.mtSales.consumerPrice == 0 && allList.material.mtSales.salesPrice != 0}">
									<span class="h4" th:text="${#numbers.formatInteger(allList.material.mtSales.salesPrice, 0, 'COMMA')}"></span>
									<span class="h6">원&nbsp;/&nbsp;4장</span><span class="h6 display_none_text">(1box)</span>
								</th:block>
								<th:block th:if="${allList.material.mtSales.consumerPrice != 0 &&  allList.material.mtSales.salesPrice == allList.material.mtSales.consumerPrice}">
									<span class="h4" th:text="${#numbers.formatInteger(allList.material.mtSales.salesPrice, 0, 'COMMA')}"></span>
									<span class="h6">원&nbsp;/&nbsp;4장</span><span class="h6 display_none_text">(1box)</span>
								</th:block>
							</div>
					  		<div class="col-12 p-3"></div>
						</div>
						<div class="modal_button_box">
							<div class="tile_select_button gray200" 
							th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._DP_DETAIL_PRODUCT}+'?pno=' + ${allList.material.no}}" 
							onclick="window.open(this.getAttribute('href'));">
								<span class="h5 gray600">상세 페이지</span>
							</div>
							<div class="tile_select_button primary500" 
							th:classappend="'card'+${allList.material.no}" 
							th:id="'tileSelect'+${allList.material.no}"
							 th:onclick="|tile_select_button(${allList.material.no})|" data-dismiss="modal">
								<span class="h5 white">이 타일 선택하기</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
		<div class="modal fade" id="kakaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div id="wrap" class="kakao_map">
							<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" class="kakao_exit_button" onclick="foldDaumPostcode()" alt="접기 버튼">
						</div>
		      		</div>
		    	</div>
		  	</div>
		</div>
		<div class="modal fade" id="ServiceAreaModal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog modal-dialog-centered modal_container ">
				<div class="modal-content">
					<div class="modal-body">
						<div class="service_modal_title">
							<span class="display3">시공 서비스 지역</span>
							<img class="close_button_service_area" data-dismiss="modal" src="/assets/resources/icon/estimate_form/modalbutton/ic_close_black.svg">
						</div>
						<div class="area_text">
							<span class="display6">&lt;서울 지역&gt;</span>
						</div>
						<div class="area_detail_text">
							<span class="body2">서울 모든 지역 시공 가능</span>
						</div>
						<div class="area_text">
							<span class="display6">&lt;경기 시공 가능 지역&gt;</span>
						</div>
						<div class="area_detail_text">
							<span class="body2">수원시, 성남시, 의정부시, 안양시, 부천시, 광명시, 동두천시, 안산시, 고양시, 과천시, 구리시, 남양주시, 시흥시, 군포시, 의왕시, 하남시, 용인시 (처인구 제외), 파주시, 김포시 (섬지역 제외), 양주시</span>
						</div>
						<div class="area_text">
							<span class="display6">&lt;인천 시공 가능 지역&gt;</span>
						</div>
						<div class="area_detail_text">
							<span class="body2">계양구, 남동구, 동구, 미추홀구, 부평구, 서구, 연수구</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>