<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(function() {
	        var searchSource = [
	        		"삼송 아이파크 2차",
	        		"삼송 스타클라스", 
	        		"삼송원흥역 센트럴푸르지오", 
	        		"삼송3차 e편한세상시티", 
	        		"삼송계룡리슈빌 15단지아파트", 
	        		"삼송 LH18단지아파트",
	        		"삼송호반베르디움 21단지아파트",
	        		"삼송마을 로얄듀크아파트",
	        		"삼송화성파크드림파티오아파트"];
	        		

			$("#searchInput").autocomplete({
				source : searchSource,
				focus : function(event, ui) {
					return false;//한글 에러 잡기용도로 사용됨
				},
				minLength : 0,// 최소 글자수
				classes : {
					"ui-autocomplete" : "list-group"
				},
				position : {
					my : "right top",
					at : "right bottom"
				}, //잘 모르겠음
				open : function(event, ui){
					$(".ui-menu-item").addClass('h6 font-weight-bold');
					$(".ui-menu-item-wrapper").addClass('p-3');
				},
				select : function(event, ui) {
						$(".page").text('선택');
				}/* ,
				search : function(event, ui) {
					alert("!");
					
					return true;
				} */
			});
			
			$("#searchAjax").keyup(function(){
				
				var value = this.value;

				if(value.length < 2)
					return;
					
				search(value);
				
				
			});
		
		});
		
		function delay(callback, ms) {
			
			var timer = 0;
			
			return function() {
				var context = this;
				var args = arguments;
				
				clearTimeout(timer);
				
				timer = setTimeout(function () {
					callback.apply(context, args);
				}, ms || 0);
				
			}
		}
		
		function search(string) {
			
			$(".result").html("");
			
			var formData = new FormData();
			
			formData.append("string", string);
			
			$.ajax({
				url : "/service/ajax/search",
				type : "POST",
				cache : false,
				async : false,
				data : formData,
				contentType: false,
				processData: false,
				success : function(data, textStatus, xhr) {
					
					var result = data;
					
					for (var i = 0; i < result.length; i++) {
						var result_ob = result[i];
						$(".result").append("<span>"+ result_ob.nameApart +"</span><br>");
					}
					
				},
				error : function(data, textStatus, xhr) {

					if (data.status == 200)
						alert("로그인이 필요합니다.");
					else if (data.status == 503)
						alert("이미 등록되었습니다." + textStatus);
					else if (data.status > 400)
						alert("잘못된 요청입니다." + textStatus);
					else
						alert("관리자에게 문의하십시오." + textStatus);
				}
			});
			
		}
	</script>
	
</th:block>

<div layout:fragment="content">
		<div class="justify-content-center row m-0">
			<div class="col-12 p-0">
				<div class="container">
					검색
					
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" id="searchInput">
						<a href="/service/details/acr?apartment='삼송 아이파크 2차'" class="btn btn-outline-info btn-lg page" type="button">
							검색
						</a>
					</div>
					<div class="page"></div>
					<div>
						<input type="text" class="" id="searchAjax">
					</div>
					<div class="result"></div>
				</div>
			</div>
		</div>
	</div>
</html>