<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/master_nav">

<th:block layout:fragment="css"></th:block>


<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<div layout:fragment="content">
	<div class="justify-content-center row bg-light">
		<div class="modal fade" id="costSheetModal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						견적시트 정보
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 p-3"></div>
		
		<div class="col-md-11">
			<a class="btn btn-light" th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._MASTER_ORDER_DETAIL} 
								+ '?no=' + ${order.no}}">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> 신청서
			</a>
			<div class="col-12 p-3"></div>
			
			<div class="col">
				<b>견적서 상세 </b> 
			</div>
			<div class="col-12 p-3"></div>
			<table class="table table-bordered">
				<tr>
					<td>
						<b>견적번호</b>
					</td>
					<td>
						<span th:text="${estimate.no}"></span>
					</td>
					<td>
						<b>작성날짜</b>
					</td>
					<td>
						<span th:text="${estimate.estimateDoc.regFormatDate}"></span>
					</td>
				</tr>
				<tr>
					<td class="align-middle">
						<b>상태</b>
					</td>
					<td>
						<a class="btn btn-primary" th:classappend="${estimate.estimateDoc.state==0} ? btn-primary : btn-light"
							th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._MASTER_ESTIMATE_STATE} 
							+ '?docNo=' + ${estimate.estimateDoc.no} + '&toState=0'}">대기</a>
						<a class="btn " th:classappend="${estimate.estimateDoc.state==1} ? btn-primary : btn-light" 
							th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._MASTER_ESTIMATE_STATE} 
							+ '?docNo=' + ${estimate.estimateDoc.no} + '&toState=1'}">발송</a>
						<a class="btn " th:classappend="${estimate.estimateDoc.state==2} ? btn-success : btn-light"  
							th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._MASTER_ESTIMATE_STATE} 
							+ '?docNo=' + ${estimate.estimateDoc.no} + '&toState=2'}">확정</a>
					</td>
					<td class="align-middle">
						<b>공유 URL</b>
					</td>
					<td class="align-middle">
						<a th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._ESTIMATE_DOC_LOGIN} 
									+ ${estimate.estimateDoc.no} }">
							<span th:text="@{ ${baseUrl} + ${T(com.connect.brick.config.RequestMappingConstants)._ESTIMATE_DOC_LOGIN} 
									+ ${estimate.estimateDoc.no} }"
								th:with="baseUrl=${#strings.replace(#httpServletRequest.requestURL, #httpServletRequest.requestURI, '')}"></span>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<b>메모</b>
					</td>
					<td colspan="5">
						<div th:utext="${estimate.estimateDoc.memo}" style="white-space: pre-wrap;"></div>
					</td>
				</tr>
				<!-- <tr>
					<td><b>시공범위</b></td>
					<td>
						<span th:text="${order.rangeCons}"></span>
					</td>
				</tr> -->
				<tr>
					<td><b>신청 시공면적</b></td>
					<td>
						<span th:text="${order.areaCons}"></span>
						m<sup>2</sup>
					</td>
					<td><b>신청 전용면적</b></td>
					<td>
						<span th:text="${order.dedArea}"></span>
						m<sup>2</sup>
					</td>
				</tr>
				<tr>
					<td><b>타일 선택</b></td>
					<td colspan="3">
						<span th:text="${estimate.mtContents.material.cbName} + ' (소비자가격:'+ ${estimate.mtContents.material.mtSales.salesPrice} +'원, 공급가격: '+${estimate.mtContents.material.mtSales.consumerPrice}+'원)'"></span>
					</td>
				</tr>
				<tr>
					<td><b>최종 시공면적</b></td>
					<td>
						<span th:text="${estimate.finalArea}"></span>
						m<sup>2</sup>
					</td>
					<td><b>최종 시공평수</b></td>
					<td>
						<span th:text="${estimate.acreage}"></span>평
					</td>
				</tr>
			</table>
			<div class="col-12 p-3"></div>
			<table class="table table-bordered">
				<tr id="tr_head">
					<th scope="col">타입</th>
					<th scope="col">내역</th>
					<th scope="col">수량</th>
					<th scope="col">단가</th>
					<th scope="col">금액</th>
				</tr>
				<th:block th:each="item : ${estimate.estimateDoc.items}">
					<tr id="tr_info_template" class="tr_info">
						<td>
							<span th:text="${item.itemType}"></span>
						</td>
						<td>
							<span th:text="${item.itemName}"></span>
						</td>
						<td>
							<span th:text="${item.itemAmt}"></span>
						</td>
						<td>
							<span th:text="${#numbers.formatInteger(item.itemCost, 0, 'COMMA')}"></span>
						</td>
						<td>
							<span th:text="${#numbers.formatInteger(item.itemAmtCost, 0, 'COMMA')}"></span>
						</td>
					</tr>
				
				</th:block>
				<tr>
					<td class="text-right" colspan="4">총 견적금액</td>
					<td>
						<span th:text="${#numbers.formatInteger(estimate.estimateDoc.totalEstimateCost, 0, 'COMMA')}"></span> 원
					</td>
				</tr>
			</table>
			<form action="/service/estimate/doc" method="POST" name="loginInfo">
				<a class="btn btn-primary" th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._MASTER_ESTIMATE_UPDATE} 
					+ '?orderNo=' + ${order.no} +'&docNo='+ ${estimate.estimateDoc.no} }">수정</a>
				<input type="hidden" name="pwd" pattern="\d*" th:value="${pwd}">
				<input type="hidden" name="num" th:value="${estimate.estimateDoc.no}">
				<button type="submit" class="btn btn-info">견적서 미리보기</button>
			</form>
			<!-- <a class="btn btn-info" th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._ESTIMATE_DOC_LOGIN} 
				+ ${estimate.estimateDoc.no}}">견적서 미리보기</a> -->
		</div>
		<div class="col-12 p-3"></div>
	</div>
</div>

</html>
