<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/master_nav">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		function getEstimate() {
			
			var costSheetNo = $("#costSheetNo").val();
			var roomCount = $("#roomCount").val();
			var bathCount = $("#bathCount").val();
			var mtContentsNo = $("#mtContentsNo").val();
			var isCons = $("#isCons").prop("checked");
			var dedArea = $("#searchByDed").val();
			var isRoom = $("#isRoom").prop("checked");
			
			var formData = new FormData();
			
			formData.append("costSheetNo", costSheetNo);
			formData.append("mtContentsNo", mtContentsNo);
			formData.append("dedArea", dedArea);
			formData.append("roomCount", roomCount);
			formData.append("bathCount", bathCount);
			//formData.append("isExpand", false);
			//formData.append("expandRoomCount", 0);
			formData.append("isRoom", isRoom);
			formData.append("isCons", isCons);
			
			$.ajax({
				url : "/service/ajax/estimate",
				type : "POST",
				cache : true,
				async : false,
				data : formData,
				contentType: false,
				processData: false,
				success : function(data, textStatus, xhr) {
					
					var html = "";
					
					for(key in data) {
						
						html += "<tr>";	
						html += "<td>" + key + "</td>";
						html += "<td>" + data[key] + "</td>";
						html += "</tr>";

						if(key=='estimateSubs') {
							
							var obs = data[key];
							
							for (var index in obs) {
								html += "<tr>";
								html += "<td></td>";
								html += "<td>" + obs[index].subMaterial.subName + "</td>";
								html += "<td>수량 : " + obs[index].subBoxAmount + "</td>";
								html += "</tr>";
							}
						
						}
							
					}
					
					$("#_estimate_result").html(html);
					
					
					
				},
				error : function(data, textStatus, xhr) {
	
					if (data.status == 200)
						alert("로그인이 필요합니다.");
					else if (data.status == 503)
						alert("이미 등록되었습니다." + textStatus);
					else if (data.status == 400)
						alert("잘못된 요청입니다." + textStatus);
					else
						alert("서버 오류가 발생하였습니다." + textStatus);
				}
			});
			
		}
	</script>
</th:block>

<div layout:fragment="content">
		<div class="justify-content-center row m-0">
			<div class="col-12 p-0">
				<div class="col-12 p-3"></div>
				
				<div class="col">
					견적 테스트 <!-- <small class="text-danger">*** 지정관리자외 금지</small> -->
					<div class="col-12 p-3"></div>
					
					<table class="table">
						<tr>
							<td><b>견적시트번호</b></td>
							<td>
								<input type="text" id="costSheetNo" th:value="${costSheet.no}" readonly="readonly">
							</td>
						</tr>
						<th:block th:each="sub : ${subs}">
							<tr>
								<td th:text="${sub.subName}"></td>
								<td><input type="text" id="" th:value="${sub.cost}" readonly>원</td>
								<td>헤베당 소요량</td>
								<td><input type="text" id="" th:value="${sub.usagePerm2}" readonly></td>
								<td>박스당 소요량</td>
								<td><input type="text" id="" th:value="${sub.usagePerm2}*1.44" readonly></td>
								<!-- <td>추가량</td>
								<td><input type="text" id="" th:value="${sub.usageAdd}"></td> -->
								<td>박스단가</td>
								<td><input type="text" id="" th:value="${sub.cost}*${sub.usagePerm2}*1.44" readonly></td>
							</tr>
						</th:block>
						<tr>
							<td>타입</td>
							<td>
								<input type="text" th:value="${costSheet.classLg.className}" readonly>
							</td>
						</tr>
						<tr>
							<td>시공비</td>
							<td>
								<input type="text" th:value="${costSheet.priceCons}" readonly>
							</td>
							<td colspan="2">* 평당 시공비(2박스에 1평, 타일시공만)</td>
						</tr>
						<tr>
							<td>매니저비</td>
							<td>
								<input type="text" th:value="${costSheet.priceManage}" readonly>
							</td>
							<td colspan="2">* 시공팀에게 제공하는 전체 평당 시공비</td>
						</tr>
						<tr>
							<td>운송비</td>
							<td>
								<input type="text" th:value="${costSheet.costTrans}" readonly>
							</td>
						</tr>
						<tr>
							<td>철거비</td>
							<td>
								<input type="text" th:value="${costSheet.priceDestroy}" readonly>
							</td>
						</tr>
						<tr>
							<td>로스율</td>
							<td><input type="text" id="" th:value="${costSheet.rateLoss}" readonly></td>
							<td colspan="2">자재 계산 로스율</td>
						</tr>
						<tr>
							<td>마진율</td>
							<td><input type="text" id="" th:value="${costSheet.rateMargin}" readonly></td>
							<td colspan="2">VAT는 포함하지않음 (소비자가격에 모두 포함)</td>
						</tr>
					</table>
					<hr>
					<table>
						<tr>
							
							<td>타일 가격</td>
							<td>
								<select style="width: 100%" id="mtContentsNo">
									<th:block th:each="mt : ${mList}">
										<option th:value="${mt.mtContents.no}" th:text="${mt.cbName} + ' (소비자가격:'+ ${mt.mtSales.salesPrice} +'원, 공급가격: '+${mt.mtSales.consumerPrice}+'원)'"></option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<td>시공 여부</td>
							<td><input type="checkbox" id="isCons" checked="checked"></td>
						</tr>
						<tr>
							<td>전용면적</td>
							<td><input type="text" id="searchByDed"><button onclick="getEstimate();">계산</button></td>
							<td>시공면적</td>
							<td><input type="text" id="searchByCons"><button>계산</button></td>
						</tr>
						<tr>
							<td>방 개수</td>
							<td><input type="text" id="roomCount" value="3"></td>
							<td>욕실 개수</td>
							<td><input type="text" id="bathCount" value="2"></td>
						</tr>
						<tr>
							<td>방 포함 여부</td>
							<td><input type="checkbox" id="isRoom" checked="checked"></td>
						</tr>
					</table>
					
					<br>
					<table class="table" id="_estimate_result">
						
					</table>
				</div>
				<div class="col-12 p-3"></div>
			</div>
		</div>
	</div>
</html>