/* estimate login */
html, body { 
	width: 100%;
	height: 100%;
}

.login__estimate {
	width:100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	background-color: #f5f5f5;
	display:flex;
	justify-content: center;
}

.login__estimate:before {
	content: "";
    position: absolute;
	background-color: #2a534c;
	top: 0;
    left: 0;
    width: 100%;
    height: 219px;
}

.container__estimateLogin {
	max-width: 311px;
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top: 56px;
	z-index: 1;
}

.container__estimateLogin > img {
	width:158px;
	height:96px;
	margin-top: 24px;
}

.container__estimateLogin > form {
	padding-top: 32px;
}

.container__estimateLogin > form > label > input {
	border: solid 1px var(--color);
	margin-top: 8px;
	padding-left: 16px;
	width:100%;
	height:44px;
	color:black;
}

.errorBox {
	height:25px;
}

.container__estimateLogin > form > label > input::placeholder {
	color: #a8a8a8;
}

.container__estimateLogin > form > label > input:focus {
	outline:none;
}

.container__estimateLogin > form > .bt-primary-default {
	width:100%;
	text-align: center;
	margin-bottom: 32px;
	cursor:pointer;
}

.kakao__estimateLogin:hover {
	cursor:pointer;
}

.secureText__estimateLogin--bottom {
    position: fixed;
    text-align: center;
	bottom : 32px;
	width: 311px;
}
/* //estimate login */

/* estimate doc */
.doc__estimate {
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 111px;
    max-width: 575px;
    min-width: 320px;
}

.appDetail__estimateDoc {
	background-color: var(--color);
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 32px;
}

.appDetail__estimateDoc > .body2.d-block.white.mb-3 {
	opacity:0.5;
}

.validity__appDetail {
	margin-top: 32px;
	margin-bottom: 24px;
}

.line__appDetail {
	height:1px;
	opacity:0.2;
	background : var(--color);
}

.contentBtn__appDetail {
	display:flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.appDetail__estimateDoc > #content__appDetail {
	background-color: rgba(255, 255, 255, 0.1);
}

.text__content--appDetail {
	opacity:0.5;
}

.line__estimateDoc {
	height:10px;
	margin-top: 32px;
	margin-bottom: 32px;
	background-color:var(--color);
}

.tileImg__estimateDoc {
	padding-left: 15px;
	padding-right: 24px;
}

.tileImg__estimateDoc > img {
	width:118px;
	height:118px;
	object-fit:cover;
}

.tile__estimateDoc .flex-grow-1 img {
	width:40px;
	height:auto;
}

.tile__estimateDoc > .bt-tertiary-default {
	width:100%;
	margin-top: 16px;
	margin-bottom: 32px;
	text-align: center;
}

.line__estimateDoc._2 {
	height:32px;
}

.line__estimateDoc._3 {
	height:1px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.bottomNotice__estimateDoc {
	display:flex;
	align-items: center;
	justify-content: center;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: var(--color);
}

.bottomNav__estimateDoc {
	position:fixed;
	bottom:0;
	width:100%;
	max-width: 575px;
	min-width: 320px;
	padding-top: 21px;
	padding-bottom: 21px;
	background-color: var(--color);
	display:flex;
	justify-content: center;
}
/* //estimate doc */