<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/master_nav">

<th:block layout:fragment="css">
	<style>
		._active_image {
			border-style : solid;
			border-color: blue;
			border-radius: 10px;
		}
	
		._active_sub_item {
			
			border-style : solid;
			border-color: blue;
			border-radius: 10px;
		}
		
		._sub_item {
			color : white;
			cursor: pointer;
		}
	</style>
</th:block>


<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" src="/assets/js/component/master/contents/contents_create.js"></script>
</th:block>

<div layout:fragment="content">
	<div class="justify-content-center row bg-light">
		<div class="col-12 p-3"></div>
		
		<div class="col-md-8">
			<span>컨텐츠 등록</span>
		</div>
		<div class="col-12 p-3"></div>
		<div class="col-md-8">
			<b>타일 선택</b>
		</div>
		<div class="col-12 p-1"></div>
		<div class="col-md-8">
			<div class="list-group col-12">
				<th:block th:each="material : ${materials}">
					<!-- <a th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._MASTER_MATERIAL_DETAIL}+'?no=' + ${material.no} }" class="list-group-item list-group-item-action"> -->
					<a href="#" class="list-group-item list-group-item-action p-0">
						<div class="p-3">
							<div class="row">
								<div class="col-2">
									<img th:src="@{ '/image_storage/' + ${material.mainImage.thumbnailPath} +'/'+ ${material.mainImage.thumbnailName} }" class=""
											th:alt="${material.mainImage.thumbnailName}" style="width: 100%" th:mno="${material.no}">
									
								</div>
								<div class="col-10">
									<h5 th:text="${material.cbCode}"></h5>
									<h5 th:text="${material.cbName}"></h5>
									<small class="">
										<span>수정날짜 : </span>
										<span th:text="${material.mtUpt.updateFormatDate}"></span>
									</small>
								</div>
							</div>
						</div>
						<div class="d-none __select_image_list">
							<div class="col-md-8">
								<b>대표 이미지 선택</b>
							</div>
							<div class="col-12 p-1"></div>
							<div class="row col-12 m-0 p-0">
								<th:block th:each="image : ${material.images}">
									<div href="#" class="p-1 __select_image">
										<img th:src="@{ '/image_storage/' + ${image.thumbnailPath} +'/'+ ${image.thumbnailName} }" 
											class="" style="width: 120px;" th:ino="${image.no}">
									</div>
								</th:block>
							</div>
						</div>
					</a>
				</th:block>
			</div>
		</div>
		<div class="col-12 p-3"></div>
		
		<div class="col-md-8" id="__select_main_image_div">
		
		
		</div>
		<div class="col-12 p-3"></div>
		<div class="col-md-8">
			<form id="contentsform" name="contentsform" class="needs-validation" action="/master/contents/reg" method="post" novalidate>
				
				<input type="hidden" id="materialNo" name="materialNo" >
				<input type="hidden" id="viewImageNo" name="viewImageNo" >
				<div id="_subslist_div"></div>
				
				<table class="table">
					<tr>
						<th scope="col">*대표 색상</th>
						<td>
							<input type="text" class="form-control" name="mainColor" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						대표색상을 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">*컨텐츠 제목</th>
						<td>
							<input type="text" class="form-control" name="title" style="width: 100%" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						컨텐츠제목을 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">제품 평균 시세</th>
						<td class="row">
							<input type="text" class="form-control" name="minMarketPrice" style="width: 48.5%" placeholder="최소시세">
							<span>&nbsp;~&nbsp;</span>
							<input type="text" class="form-control" name="maxMarketPrice" style="width: 48.5%" placeholder="최대시세">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						제품 시세를 입력해주세요.
        					</div>
						</td>
					</tr>
					
					<tr>
						<th scope="col">*소비자판매가</th>
						<td>
							<input type="text" class="form-control" id="consumerPrice" name="consumerPrice" style="width: 100%" value="0" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						소비자판매가를 입력해주세요.
        					</div>
						</td>
					</tr>
					
					<tr>
						<th scope="col">할인판매가</th>
						<td>
							<input type="text" class="form-control" name="salesPrice" style="width: 100%" placeholder="할인판매가" value="0">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						할인판매가를 입력해주세요.
        					</div>
						</td>
					</tr>
					
					<tr>
						<th scope="col">조회수(임의조정)</th>
						<td>
							<input type="text" class="form-control" name="hit" style="width: 100%" placeholder="할인판매가" value="0">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						조회수를 입력해주세요.
        					</div>
						</td>
					</tr>
					
					<tr>
						<th scope="col">*이달의 딜 노출 여부</th>
						<td>
							<label for="month_deal_label_view_true">Y</label>
							<input type="radio" id="month_deal_label_view_true" name="monthDealLabelView" th:value="true">
							<label for="month_deal_label_view_false">N</label>
							<input type="radio" id="month_deal_label_view_false" name="monthDealLabelView" th:value="false" checked="checked">
						</td>
					</tr>
					
					<tr>
						<th scope="col">*바닥시공 라벨 노출 여부</th>
						<td>
							<label for="product_label_view_true">Y</label>
							<input type="radio" id="product_label_view_true" name="productLabelView" th:value="true" checked="checked">
							<label for="product_label_view_false">N</label>
							<input type="radio" id="product_label_view_false" name="productLabelView" th:value="false">
						</td>
					</tr>
					
					<tr>
						<th scope="col">*MD 추천 노출 여부</th>
						<td>
							<label for="mdpick_label_view_true">Y</label>
							<input type="radio" id="mdpick_label_view_true" name="mdPickLabelView" th:value="true">
							<label for="mdpick_label_view_false">N</label>
							<input type="radio" id="mdpick_label_view_false" name="mdPickLabelView" th:value="false" checked="checked">
						</td>
					</tr>
					
					<tr>
						<th scope="col">컨텐츠 설명</th>
						<td>
							<textarea name="expl" class="form-control" rows="10" cols="" style="width: 100%"></textarea>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						상세 페이지에 노출된 제품 설명을 입력해주세요.
        					</div>
						</td>
					</tr><tr>
						<th scope="col">관리자 메모</th>
						<td>
							<textarea name="managerMemo" class="form-control" rows="10" cols="" style="width: 100%"></textarea>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						관리자메모를 입력해주세요.
        					</div>
						</td>
					</tr>
				</table>
				<div class="col-12 p-0"><hr></div>
				<div>
					<span><b>부자재 선택</b></span>
					<div class="col-12 p-3"></div>
					<div class="col-12">
						
						<div class="row">
						<th:block th:each="sub, rowStat : ${subs}">
								<div class="card mr-3 mb-3 _sub_item" th:item="${sub.no}">
									<img th:src="@{ '/image_storage/' + ${sub.mainImage.thumbnailPath} +'/'+ ${sub.mainImage.thumbnailName} }" class=""
											th:alt="${sub.mainImage.thumbnailName}" style="width: 200px;" th:mno="${sub.no}">
									<div class="card-img-overlay">
										<span th:text="${sub.classLg}"></span><br>
										<span th:text="${sub.subName}"></span><br>
										<span th:text="${sub.mfCom}"></span>
									</div>
								</div>
						</th:block>
						</div>
					</div>
					<div class="col-12 p-3"></div>
				</div>
				<button type="submit" class="btn btn-primary">등록하기</button>
			</form>
		</div>
		<div class="col-8 p-3"><hr></div>
		<div class="col-md-8">
			<span>미리보기</span>
		</div>
		<div class="col-8 p-3"></div>
	</div>
</div>

</html>
