<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="css"></th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
 
<!-- <head>
<style>
body {
	padding-top: 54px;
}

@media ( min-width : 992px) {
	body {
		padding-top: 56px;
	}
}
</style> 
</head> -->

<div layout:fragment="content">
	<div class="">
		<div class="m-4"></div>
		<div class="text-center">
			<th:block th:if="${statusCode}!='null'">
				CODE : <span th:text="${statusCode}"></span>	
			</th:block>
			<p th:text="${msg}"></p>
		</div>
		<div class="m-4"></div>
		<div class="text-center">
			<a class="btn btn-info" th:href="${T(com.connect.brick.config.RequestMappingConstants)._INDEX_URL}">메인으로</a>
		</div>
		<div class="m-4"></div>
	</div>

</div>

</html>
