<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="cardFragment">
	
	<!-- css -> config.html -->
	<!-- js -->
	
	<div class="card _tile_card" th:classappend="'card'+${dpMaterial.material.no}"
		th:href="@{${T(com.connect.brick.config.RequestMappingConstants)._DP_DETAIL_PRODUCT}+'?pno=' + ${dpMaterial.material.no}}"
		onclick="location.href=this.getAttribute('href');">
		
		<div class="_tile_img_box">
			<div class="row p-0 labels_box">
			
				<th:block th:if="${dpMaterial.material.mtContents.mdpickLabelView}">
					<img class="labels mdPick_label" src="/assets/resources/icon/contents/main/icon_label_lg_3@2x.png">
				</th:block>
			
				<!-- <th:block th:if="${dpMaterial.material.mtContents.productLabelView}">
					<img class="labels product_label" src="/assets/resources/icon/contents/main/icon_label_lg_1_1.png">
				</th:block>
				<th:block th:if="${dpMaterial.material.mtContents.monthDealLabelView}">
					<img class="labels month_deal_label" src="/assets/resources/icon/contents/main/icon_label_lg_2.png">
				</th:block> -->
			</div>
			<a class="outline">
				<th:block th:if="${dpMaterial.material.viewImage}!=null">
					<img class="_tile_mainImg" th:src="@{ '/image_storage/' + ${dpMaterial.material.viewImage.thumbnailPath} +'/'+ ${dpMaterial.material.viewImage.thumbnailName}}">
				</th:block>
				<th:block th:if="${dpMaterial.material.viewImage}==null">
					<img class="_tile_mainImg" th:src="@{ '/image_storage/' + ${dpMaterial.material.mainImage.thumbnailPath} +'/'+ ${dpMaterial.material.mainImage.thumbnailName}}">
				</th:block>
			</a>
			<img class="_tile_subImg" th:src="@{ '/image_storage/' + ${dpMaterial.material.mainImage.thumbnailPath} +'/'+ ${dpMaterial.material.mainImage.thumbnailName}}">
			<!-- <div class="_tile_subImg" th:style="'background-image: url(\''+ @{'/image_storage/' + ${dpMaterial.material.mainImage.thumbnailPath} + '/' + ${dpMaterial.material.mainImage.thumbnailName}} +'\');'"></div> -->
		</div>
		<div class="card-body">
			<div class="_info_box">
				<div class="_title_box h4" th:text="${dpMaterial.material.cbName}"></div>
				<div class="row m-0 _spec_box">
					<!-- <th:block th:if="${dpMaterial.material.mtSpace.inPossible && !dpMaterial.material.mtSpace.outPossible}">
						<span class="_spec_value">실내용</span>
					</th:block>
					<th:block th:if="${dpMaterial.material.mtSpace.outPossible && !dpMaterial.material.mtSpace.inPossible}">
						<span class="_spec_value">실외용</span>
					</th:block>
					<th:block th:if="${dpMaterial.material.mtSpace.outPossible && dpMaterial.material.mtSpace.inPossible}">
						<span class="_spec_value">실내·외용</span>
					</th:block> -->
					<span class="caption gray600" th:text="${dpMaterial.material.mtClass.classSm}">종류</span>
					<div class="dot"></div>
					<span class="caption gray600" th:text="${dpMaterial.material.mtSpec.surface}">무광</span>
					<div class="dot"></div>
					<span class="caption gray600" th:text="${dpMaterial.material.mtStd.sizeW}"></span>
					<span class="caption gray600">x</span>
					<span class="caption gray600" th:text="${dpMaterial.material.mtStd.sizeH}"></span>
					<span class="caption gray600 display_none_text">mm</span>
				</div>
				<div class="_price_box">
					<th:block th:if="${dpMaterial.material.mtSales.salesPrice > 0 && dpMaterial.material.mtSales.salesPrice != dpMaterial.material.mtSales.consumerPrice}">
						<span class="h4 secondary500" th:text="${#numbers.formatInteger(((1.0*dpMaterial.material.mtSales.consumerPrice - 1.0*dpMaterial.material.mtSales.salesPrice) / (1.0*dpMaterial.material.mtSales.consumerPrice)) * 100, 2) +'%'}"></span>&nbsp;
					</th:block>
					<th:block th:if="${dpMaterial.material.mtSales.consumerPrice == 0 && dpMaterial.material.mtSales.consumerPrice == dpMaterial.material.mtSales.salesPrice}">
						<span class="h4">별도문의</span>
					</th:block>
					<th:block th:if="${dpMaterial.material.mtSales.consumerPrice != 0 && dpMaterial.material.mtSales.salesPrice != 0 && dpMaterial.material.mtSales.consumerPrice != dpMaterial.material.mtSales.salesPrice}">
						<span class="h4" th:text="${#numbers.formatInteger(dpMaterial.material.mtSales.salesPrice, 0, 'COMMA')}"></span>
						<span class="h6">원&nbsp;/&nbsp;4장</span><span class="h6 display_none_text">(1box)</span>
					</th:block>
					<th:block th:if="${dpMaterial.material.mtSales.consumerPrice != 0 && dpMaterial.material.mtSales.salesPrice == 0}">
						<span class="h4" th:text="${#numbers.formatInteger(dpMaterial.material.mtSales.consumerPrice, 0, 'COMMA')}"></span>
						<span class="h6">원&nbsp;/&nbsp;4장</span><span class="h6 display_none_text">(1box)</span>
					</th:block>
					<th:block th:if="${dpMaterial.material.mtSales.consumerPrice == 0 && dpMaterial.material.mtSales.salesPrice != 0}">
						<span class="h4" th:text="${#numbers.formatInteger(dpMaterial.material.mtSales.salesPrice, 0, 'COMMA')}"></span>
						<span class="h6">원&nbsp;/&nbsp;4장</span><span class="h6 display_none_text">(1box)</span>
					</th:block>
					<th:block th:if="${dpMaterial.material.mtSales.consumerPrice != 0 &&  dpMaterial.material.mtSales.salesPrice == dpMaterial.material.mtSales.consumerPrice}">
						<span class="h4" th:text="${#numbers.formatInteger(dpMaterial.material.mtSales.salesPrice, 0, 'COMMA')}"></span>
						<span class="h6">원&nbsp;/&nbsp;4장</span><span class="h6 display_none_text">(1box)</span>
					</th:block>
				</div>
				<hr class="_emoji_line">
				<div class="row col-12 m-0 _emoji_box">
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="각 장마다 패턴이 다앙하게 구성됨" 
						th:if="${dpMaterial.material.mtSpec.patternNum == 1}">
						<!-- <img class="_emoji_first" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_pattern.svg"> -->
						<div class="_emoji_first _emoji__pattern--1"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="표면에 미끄럼 방지 기능 있음" 
						th:if="${dpMaterial.material.mtSpec.nonslip}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_nonslip.svg"> -->
						<div class="_emoji _emoji__nonslip--y"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="고급프린팅 기술로 대리석과 흡사한 표현" 
						th:if="${!dpMaterial.material.mtSpec.nonslip}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_slip.svg"> -->
						<div class="_emoji _emoji__nonslip--n"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="수분흡수량이 낮아 물에 강함" 
						th:if="${dpMaterial.material.mtPf.waterAbsrp}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_water_y.svg"> -->
						<div class="_emoji _emoji__waterAbsrp--y"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="수분흡수량이 높아 물에 약함" 
						th:if="${!dpMaterial.material.mtPf.waterAbsrp}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_water_n.svg"> -->
						<div class="_emoji _emoji__waterAbsrp--n"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="거실 바닥과 벽에 모두 사용 가능함" 
						th:if="${dpMaterial.material.mtSpace.roomFloor == true && dpMaterial.material.mtSpace.roomWall == true}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_living_y.svg"> -->
						<div class="_emoji _emoji__living--y"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="거실공간에 사용 불가함" 
						th:if="${dpMaterial.material.mtSpace.roomFloor == false && dpMaterial.material.mtSpace.roomWall == false}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_living_n.svg"> -->
						<div class="_emoji _emoji__living--n"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="거실 벽 사용만 가능함" 
						th:if="${dpMaterial.material.mtSpace.roomFloor == false && dpMaterial.material.mtSpace.roomWall == true}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_living_n_f.svg"> -->
						<div class="_emoji _emoji__living--n--f"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="거실 바닥 사용만 가능함" 
						th:if="${dpMaterial.material.mtSpace.roomFloor == true && dpMaterial.material.mtSpace.roomWall == false}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_living_n_w.svg"> -->
						<div class="_emoji _emoji__living--n--w"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="주방 바닥과 벽에 모두 사용 가능함" 
						th:if="${dpMaterial.material.mtSpace.kichFloor == true && dpMaterial.material.mtSpace.kichWall == true}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_kitchen_y.svg"> -->
						<div class="_emoji _emoji__kitchen--y"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="주방공간에 사용 불가함" 
						th:if="${dpMaterial.material.mtSpace.kichFloor == false && dpMaterial.material.mtSpace.kichWall == false}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_kitchen_n.svg"> -->
						<div class="_emoji _emoji__kitchen--n"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="주방 벽 사용만 가능함" 
						th:if="${dpMaterial.material.mtSpace.kichFloor == false && dpMaterial.material.mtSpace.kichWall == true}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_kitchen_n_f.svg"> -->
						<div class="_emoji _emoji__kitchen--n--f"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="조리공간의 특성상 바닥 사용만 권장함" 
					th:if="${dpMaterial.material.mtSpace.kichFloor == true && dpMaterial.material.mtSpace.kichWall == false}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_kitchen_n_w.svg"> -->
						<div class="_emoji _emoji__kitchen--n--w"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="욕실 바닥과 벽에 모두 사용 가능함" 
						th:if="${dpMaterial.material.mtSpace.toilFloor == true && dpMaterial.material.mtSpace.toilWall == true}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_bath_y.svg"> -->
						<div class="_emoji _emoji__bath--y"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="욕실공간에 사용 불가함" 
						th:if="${dpMaterial.material.mtSpace.toilFloor == false && dpMaterial.material.mtSpace.toilWall == false}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_bath_n.svg"> -->
						<div class="_emoji _emoji__bath--n"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="유광 타일 특성상 벽 사용만 권장함" 
						th:if="${dpMaterial.material.mtSpace.toilFloor == false && dpMaterial.material.mtSpace.toilWall == true}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_bath_n_f.svg"> -->
						<div class="_emoji _emoji__bath--n--f"></div>
					</button>
					<button type="button" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="욕실 바닥 사용만 가능함" 
						th:if="${dpMaterial.material.mtSpace.toilFloor == true && dpMaterial.material.mtSpace.toilWall == false}">
						<!-- <img class="_emoji" src="/assets/resources/icon/contents/main/spec_emoji/icom_sm_bath_n_w.svg"> -->
						<div class="_emoji _emoji__bath--n--w"></div>
					</button>
				</div>
			</div>
		</div>
		
		<input type="hidden" th:value="${dpMaterial.material.mtContents.no}">
		<input type="hidden" th:value="${dpMaterial.material.no}">
	</div>
	
</th:block>

</html>