.selectedit {
	width: 100%;
	position: relative;
	cursor: pointer;
}

.selectedit img {
	width: 100%;
}

.selectedit .overlay, .selectedit.multi_hover .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	color: #FFF;
}

.selectedit:hover .overlay, .selectedit.multi_hover .overlay {
	display: block;
	background: rgba(0, 0, 0, .3);
}

.selectedit .icon-area {
	position: absolute;
	top: 8px;
	/* left: 87%; */
	right : 9px;
}