<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" type="text/css" />
	<link rel="stylesheet" href="/lib/bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css"></link>
</th:block>

<th:block layout:fragment="script">
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="/datatable_board.js"></script>
	
</th:block>
	<div class="justify-content-center row bg-white">
		<div class="col-12 p-3"></div>
		<div class="col-10">
			<span>게시판</span>
		</div>

		<div class="col-12 p-3"></div>
		<div class="col-10">
			<table id="crTable" class="table">
				<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">작성자</th>
					<th scope="col">제목</th>
					<th scope="col">등록날짜</th>
					<th scope="col">옵션</th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="boardLists : ${BoardLists}">
					<tr>
					
						<td th:text="${boardLists.number}"></td>
						
						<td th:text="${boardLists.name}"></td>
						
						<td>
						<a th:href="@{/board/detail}+'?no=' + ${boardLists.number}"> 
						<span th:text="${boardLists.title}"></span>
						</a>
						</td>
						<td th:text="${boardLists.FormatDate}"></td>
	
						<td>
							<a th:href="@{/update}+'?no=' + ${boardLists.number}">수정</a>
							 | <a th:href="@{/del}+'?no=' + ${boardLists.number}" onclick="if(!confirm('삭제하시겠습니까?')){return false;}">삭제</a>
						</td>
					</tr>
					
				</th:block>
				</tbody>
			</table>
			<div class="col-12 p-3"></div>
			<a class="btn btn-primary" href="board/create">새로 등록</a>
		</div>
		<div class="col-12 p-3"></div>
	</div>

</html>