<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/master_nav">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/css/dropzone.css"></link>
	<style>
		.main-preview {
			width: 100%;
			height: 100%;
		}
		
		.main-preview figure {
			width: 100%;
		}
		
		.main-preview img {
			width: 100%;
		}
		
		.list-preview figure {
			width: 100px;
			height: 100px;
			cursor: pointer;
		}
		
		.list-preview img {
			width: 100px;
			height: 100px;
		}
		
		.selectedit {
			position: relative;
		}
		
		.selectedit .overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;
			color: #FFF;
		}
		
		.selectedit .overlay a {
			cursor: pointer;
		}
		
		.selectedit:hover .overlay {
			display: block;
			background: rgba(0, 0, 0, .3);
		}
		
		.menu-material::after {
			display: none;
		}
		
		</style>
</th:block>


<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

	<script type="text/javascript" src="/lib/js/dropzone.js"></script>
	<script type="text/javascript" src="/assets/js/component/master/-master-modifier-dropzone-realtime.js"></script>
	
	<script th:inline="javascript">
		/*<![CDATA[*/ 
		var modifyInfo = /*[[ ${modifyInfo} ]]*/ {};
		/*]]>*/
		
	</script>
	
</th:block>

<div layout:fragment="content">
	<div class="justify-content-center row bg-light">
		<div class="col-12 p-3"></div>
		
		<div class="col-md-8">
			<span>부자재 수정</span>
		</div>
		<div class="col-12 p-3"></div>
		
		<div>
			<div id="template" class="m-1">
				<figure class="figure selectedit" style="">
					<img data-dz-thumbnail class="img-thumbnail">
					<div class="overlay text-right">
						<div id="tags-list"></div>
						<!-- <i id="img-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip for image" data-animation="false" data-trigger="manual"></i> -->
						<a class="fa fa-square-o fa-1x main-image-btn mr-1 mt-3" data-toggle="tooltip" data-placement="right" title="대표 이미지">
							대표 이미지</a>
						<a class="fa fa-refresh fa-1x refresh-btn mr-1 mt-3" data-toggle="tooltip" data-placement="right" title="태그 초기화"></a>
						<a class="fa fa-times-circle fa-1x remove-btn mr-3 mt-3" data-toggle="tooltip" data-placement="right" title="이 사진을 삭제"></a>
					</div>
					<!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
				</figure>
			</div>
		</div>
		<div class="col-md-8" id="uploadDiv">
			<div>
				<div class="col-lg-12" id="edit_window"></div>
				<div class="col-lg-12">
					<div class="row" id="edit_list">
						<!-- <div id="" class="default"></div> -->
					</div>
				</div>
			</div>
			<!-- 드랍존 지역 -->
			<div class="" id="fileDropzone">
				<div id="formLayout" class="border border-info rounded-lg" style="cursor: pointer;">
					<!-- <div class="align-items-center row"> -->
						<!-- <div class="dz-default dz-message text-center text-middle col-sm-12" style="height: 695px;"> -->
						<div class="p-0 m-0 dz-default dz-message col-sm-12 justify-content-center align-items-center row" style="height: 395px;">
							<div class="text-center">
							<span>사진을 끌어다 올려주세요 (최대 5장)</span>
							<div class="text-center mt-5 mb-5">
								<i class="fa fa-plus-circle fa-5x text-info"
									aria-hidden="true"></i>
							</div>
							<h5 class="font-weight-bold">주의사항</h5>
							<small>높은 해상도의 .jpg 파일 사용</small><br>
							<small>혹은 10MB 이하의 싸이즈로 업로드해주세요.</small>
								</div>
						</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
						
		<div class="col-12 p-3"></div>	
		<div class="col-md-8">
			<form id="submaterialform" name="submaterialform" th:action="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_MATERIAL_SUB_MOD}" method="post">
				
				<input type="hidden" name="no" th:value="${sub.no}">
				<input type="hidden" id="filesInfo" name="filesInfo" >
				
				<table class="table">
					<tr>
						<th scope="col">원산지</th>
						<td>
							<input type="text" name="country" th:value="${sub.country}">
						</td>
					</tr>
					<tr>
						<th scope="col">분류</th>
						<td>
							<select id="classLg" name="classLg.no">
								<th:block th:each="classLg : ${classLgs}">
									<option th:value="${classLg.no}" th:text="${classLg.className}" th:selected="${sub.classLg.no}==${classLg.no} ? true : false"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<th scope="col">제품명</th>
						<td>
							<input type="text" name="subName" th:value="${sub.subName}">
						</td>
					</tr>
					<tr>
						<th scope="col">제조사</th>
						<td>
							<input type="text" name="mfCom" th:value="${sub.mfCom}">
						</td>
					</tr>
					<tr>
						<th scope="col">시공 방법</th>
						<td>
							<input type="text" name="method" th:value="${sub.method}">
						</td>
					</tr>
					<tr>
						<th scope="col">시공 필요 도구</th>
						<td>
							<input type="text" name="tools" th:value="${sub.tools}">
						</td>
					</tr>
					<tr>
						<th scope="col">믹싱 비율</th>
						<td>
							<input type="text" name="mixRatio" th:value="${sub.mixRatio}">
						</td>
					</tr>
					<tr>
						<th scope="col">제품 무게</th>
						<td>
							<input type="number" name="kgBox" min="0.0" step="0.1" th:value="${sub.kgBox}"> kg
						</td>
					</tr>
					<tr>
						<th scope="col">소요량 타입</th>
						<td>
							<select name="usageType">
								<option value="m2" th:selected="${sub.usageType}=='m2' ? true : false">m2</option>
								<option value="room" th:selected="${sub.usageType}=='room' ? true : false">room</option>
								<option value="default" th:selected="${sub.usageType}=='default' ? true : false">default</option>
							</select> ex) m2: 헤베 / room: 방 개수 / default: 고정개수
						</td>
					</tr>
					<tr>
						<th scope="col">소요량</th>
						<td>
							<input type="number" name="usagePerm2" min="0.0" step="0.1" value="0.0" th:value="${sub.usagePerm2}"> m2
						</td>
					</tr>
					<tr>
					<th scope="col">추가 개수</th>
						<td>
							<input type="number" name="usageAdd" min="0" value="0" th:value="${sub.usageAdd}"> 개
						</td>
					</tr>
					<tr>
						<th scope="col">가격</th>
						<td>
							<input type="number" name="cost" min="0" th:value="${sub.cost}"> 원
						</td>
					</tr>
				</table>
				<div class="col-12 p-3"></div>
				<button type="submit" class="btn btn-primary">수정하기</button>
				<a th:href="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_MATERIAL_SUB_LIST}" class="btn btn-info">목록으로</a>
			</form>
		</div>
		<div class="col-12 p-3"></div>
	</div>
</div>

</html>
