<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/master_nav">

<th:block layout:fragment="css">
	
	<style>
		
		/*
		Input 속성 number 증감버튼 제거
		*/
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
   		 	-webkit-appearance: none;
   			 margin: 0;
		}
		
		.colorThief_btn {
			margin-top: 10px;
			outline: none;
			border: 1px solid #ccc;
		}
		
		.colorThief_btn:hover {
			outline: none;
			border: none;
			border: 1px solid #ccc;
		}
	</style>
	<link rel="stylesheet" href="/lib/css/bootstrap-tagsinput/bootstrap4-tagsinput.css"></link>
	
</th:block>


<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<!-- <script type="text/javascript" src="/lib/js/dropzone.js"></script> -->
	<script type="text/javascript" src="/lib/js/bootstrap-tagsinput/bootstrap4-tagsinput.js"></script>
	<script type="text/javascript" src="/assets/js/component/master/-image-register.js"></script>
	<script type="text/javascript" src="/assets/js/component/material/materialcreate.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.min.js"></script>
</th:block>

<div layout:fragment="content">
	<div class="justify-content-center row bg-light">
		<div class="col-12 p-3"></div>
		
		<div class="col-md-8">
			<span>상품 등록</span>
		</div>
		<div class="col-12 p-3"></div>
		
		<div class="col-md-8">
			<form id="materialform" name="materialform" class="needs-validation was-validated" th:action="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_MATERIAL_REG}" method="post" novalidate>
				
				<div class="p-3"></div>
				<table class="table">
					<tr>
						<th scope="col">*분류코드</th>
						<td>
							<input type="text" class="form-control" name="cbCode" placeholder="CB분류코드" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						분류코드를 입력해주세요.
        					</div>
						</td>
						<th scope="col">등록일</th>
						<td>
							<span th:text="${#dates.format(#dates.createNow(),'YYYY-MM-dd HH:mm')}"></span>
						</td>
					</tr>
				</table>
				<div class="col-12 p-5"></div>	

				<div class="col-12">
					썸네일 등록
				</div>
				<div class="p-3"></div>
				<table class="table">
					<tr>
						<th>*대표 자재</th>
						<td>
							<div class="custom-file">
								<input type="file" class="custom-file-input _reg_image" id="mainMaterialImage" required>
								<label class="custom-file-label" for="mainMaterialImage">Choose file</label>
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">
	          						대표 자재 이미지를 넣으세요
	        					</div>
								<input type="hidden" class="_reg_image_param" id="mainMaterialImageNo" name="mainImage.no">
							</div>
						</td>
						<td rowspan="2">
							<img src="" class="_reg_image_preview" alt="자재 이미지" id="mainMaterialImagePreview" style="width: 150px; height: 150px;">
						</td>
					</tr>
					<tr>
						<th scope="col">칼라톤</th>					
						<td>
							<!-- 메인 색상 -->
							<div class="row p-0 m-0">
								<div style="width:50px; height:50px; border-radius:50%; display: none; margin-bottom: 10px;" id="mainColor"></div>
        					</div>
							<input type="text" class="form-control" id="DominateColor" th:name="mtColors[0].colorHex" placeholder="DominateColor">
							<!-- 부가 색상 -->
        					<div class="row p-0 m-0">
								<div style="width:50px; height:50px; border-radius:50%; display: none; margin-bottom: 10px;" id="ColorSector_1"></div>
								<div style="width:50px; height:50px; border-radius:50%; display: none; margin-bottom: 10px;" id="ColorSector_2"></div>
        					</div>
							<input type="text" class="form-control" id="ColorOne" th:name="mtColors[1].colorHex" placeholder="ColorOne">
							<input type="text" class="form-control" id="ColorTwo" th:name="mtColors[2].colorHex" placeholder="ColorTwo">
        					<button type="button" class="colorThief_btn" id="colorThief_btn">색상 추출</button>
						</td>
					</tr>
					<tr>
						<th scope="col">*대표색상</th>
						<td colspan="2">
        					<select id="mtSpec.mainColor" name="mtSpec.mainColor.no" class="form-control" required>
        						<option th:value="''" selected>===선택===</option>
								<th:block th:each="mainColor : ${codes.mainColors}">
									<option th:value="${mainColor.no}" th:text="${mainColor.mainColorName}"></option>
								</th:block>
							</select>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						대표 색상을 선택하세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th>대표 조감도</th>
						<td>
							<div class="input-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input _reg_image" id="mtImage" aria-describedby="fileAddon">
									<label class="custom-file-label" for="mtImage">Choose file</label>
									<input type="hidden" class="_reg_image_param" id="mtImageNo" name="viewImage.no">
								</div>
								
								<div class="input-group-append">
									<button class="btn btn-outline-secondary input__one__file__remove--btn" type="button" id="fileAddon" index="">삭제</button>
								</div>
							</div>
						</td>
						<td rowspan="2">
							<img src="" class="_reg_image_preview" alt="조감도 이미지" id="mtImagePreview" style="width: 150px; height: 150px;">
						</td>
						<!-- <td>
							<div class="custom-file">
								<input type="file" class="custom-file-input _reg_image" id="mainViewImage">
								<label class="custom-file-label" for="mainViewImage">Choose file</label>
								<input type="hidden" class="_reg_image_param" id="mainMaterialImageNo" name="viewImage.no">
							</div>
						</td>
						<td rowspan="2">
						<img src="" class="_reg_image_preview" alt="조감도 이미지" id="mainViewImagePreview" style="width: 150px; height: 150px;">
						</td> -->
					</tr>
				</table>
				
				<div class="col-12 p-5"></div>	
				<!-- <div class="col-12">
					<span>상품 컨텐츠</span>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table" paramName="images">
					<tr>
						<th rowspan="11">상세 이미지</th>
					</tr>
					<th:block th:each="index : ${#numbers.sequence(0, 9)}">
						<tr class="tr__caret--div">
							<td>
								<img src="" class="_reg_image_preview" alt="이미지" th:id="'mtImagePreview'+${index}" style="width: 50px; height: 50px;">
							</td>
							<td>
								<div class="input-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input _reg_image" th:id="'mtImage'+${index}" th:aria-describedby="'fileAddon'+${index}">
										<label class="custom-file-label" th:for="'mtImage'+${index}">Choose file</label>
										<input type="hidden" class="_reg_image_param" th:id="'mtImageNo'+${index}" th:name="'images['+${index}+'].no'">
									</div>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary input__one__file__remove--btn" type="button" th:id="'fileAddon'+${index}" th:index="${index}">삭제</button>
									</div>
								</div>
							</td>
							<td class="p-0 align-middle">
								<div>
									<i class="fa fa-caret-up input__file__change--up" aria-hidden="true" style="cursor: pointer;"></i>
								</div>
								<div>
									<i class="fa fa-caret-down input__file__change--down" aria-hidden="true" style="cursor: pointer;"></i>
								</div>
							</td>
						</tr>
					</th:block>
				</table>
				
				<div class="col-12 p-5"></div> -->
				
				<div>
					<table id="inputFileTemplate" style="display: none;">
						<tr class="tr__caret--div">
							<td class="p-0">
								<div class="text-center">
									<i class="fa fa-caret-up input__file__change--up" aria-hidden="true" style="cursor: pointer;"></i>
								</div>
								<div class="text-center">
									<i class="fa fa-caret-down input__file__change--down" aria-hidden="true" style="cursor: pointer;"></i>
								</div>
							</td>
							<td>
								<img class="_reg_image_preview" style="width: 50px; height: 50px;">
							</td>
							<td>
								<input type="file" class="_reg_image">
								<input type="hidden" class="_reg_image_param" name="">
							</td>
							<td>
								<textarea class="_reg_image_cpt" name=""></textarea>
							</td>
							<td>
								<button class="btn btn-outline-secondary input__file__remove--btn" type="button">삭제</button>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="col-12">
					<span>연출 예시</span>
					<button class="btn btn-info input__file__add--btn" type="button" for="#vrViewTable" template="#inputFileTemplate">추가</button>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table" id="vrViewTable" paramName="vrViewImages">
					<tr>
						<th>순서</th>
						<th>미리보기</th>
						<th>파일</th>
						<th>캡션</th>
						<th>옵션</th>
					</tr>
				</table>
				
				<div class="col-12 p-5"></div>	
				
				
				<div class="col-12">
					<span>시공 후기</span>
					<button class="btn btn-info input__file__add--btn" type="button" for="#realConsTable" template="#inputFileTemplate">추가</button>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table" id="realConsTable" paramName="realConsImages">
					<tr>
						<th>순서</th>
						<th>미리보기</th>
						<th>파일</th>
						<th>캡션</th>
						<th>옵션</th>
					</tr>
				</table>
				<div class="col-12 p-5"></div>
				
				<div class="col-12">
					<span>실제 시공 링크</span>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table" id="linkImageTable">
					<tr>
						<th>배너</th>
						<th>파일</th>
						<th>URL링크</th>
					</tr>
					<tr class="tr__caret--div">
						<td>
							<img class="_reg_image_preview" id="mtImagePreviewLinkImage" style="width: 50px; height: 50px;">
							<!-- <img class="_reg_image_preview" style="width: 50px; height: 50px;"
							th:src="@{ '/image_storage/' + ${image.thumbnailPath} +'/'+ ${image.thumbnailName}}"> -->
						</td>
						<td>
							<div class="input-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input _reg_image" id="linkImage" aria-describedby="fileAddon">
									<label class="custom-file-label" for="mtImageLinkImage">Choose file</label>
									<input type="hidden" class="_reg_image_param" id="mtImageNoLinkImage" name="linkImage.no">
								</div>
								
								<div class="input-group-append">
									<button class="btn btn-outline-secondary input__one__file__remove--btn" type="button" id="fileAddon" index="LinkImage">삭제</button>
								</div>
							</div>
						</td>
						<td>
							<input type="text" id="mtImageAddLinkImage" class="_reg_image_cpt" name="linkImage.linkAddr">
						</td>
					</tr>
				</table>
				<div class="col-12 p-5"></div>
				
				<!-- <div class="col-12">
					<span>가상 제품 이미지</span>
					<button class="btn btn-info input__file__add--btn" type="button" for="#vrProductTable" template="#inputFileTemplate">추가</button>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table" id="vrProductTable" paramName="vrProductImages">
					<tr>
						<th>순서</th>
						<th>미리보기</th>
						<th>파일</th>
						<th>캡션</th>
						<th>옵션</th>
					</tr>
				</table>
				
				<div class="col-12 p-5"></div> -->
				
				<div class="col-12">
					<span>제품 디테일</span>
					<button class="btn btn-info input__file__add--btn" type="button" for="#realProductTable" template="#inputFileTemplate">추가</button>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table" id="realProductTable" paramName="realProductImages">
					<tr>
						<th>순서</th>
						<th>미리보기</th>
						<th>파일</th>
						<th>캡션</th>
						<th>옵션</th>
					</tr>
				</table>
				
				<div class="col-12 p-5"></div>
				
				<div class="col-12">
					<span>동영상</span>
				</div>
				<div class="col-12 p-3"></div>
				<table class="table">
					<tr>
						<th>URL 링크주소</th>
						<td>
							<input type="text" class="form-control" name="mtContents.videoUrl" placeholder="URL">
						</td>
					</tr>
				</table>
				
				<div class="col-12 p-5"></div>	
				<div class="col-12">
					<span>상품 기본 정보</span>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table">
					<tr>
						<th scope="col">*상품명</th>
						<td colspan="3">
							<input type="text" class="form-control" name="cbName" placeholder="상품명" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
          						상품명을 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th rowspan="3">*상품 분류</th>
						<td colspan="3">
							<select id="classLg" name="mtClass.classLg.no" class="form-control">
								<th:block th:each="classLg : ${codes.classLgs}">
									<option th:value="${classLg.no}" th:text="${classLg.className}">타일</option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<select id="classMd" name="mtClass.classMd" class="form-control">
								<option th:value="'자기질'" selected="selected">자기질</option>
								<option th:value="'도기질'">도기질</option>
								<option th:value="'석기질'">석기질</option>
								<option th:value="'토기질'">토기질</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<select id="classSm" name="mtClass.classSm" class="form-control">
								<option th:value="'포세린'" selected="selected">포세린</option>
								<option th:value="'유약폴리싱'">유약폴리싱</option>
								<option th:value="'폴리싱'">폴리싱</option>
								<option th:value="'도기질'">도기질</option>
								<option th:value="'모자이크'">모자이크</option>
								<option th:value="'석기질'">석기질</option>
								<option th:value="'토기질'">토기질</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>라벨</th>
						<td>
							<input type="checkbox" id="product_label_view" name="mtContents.productLabelView" value="true">
							<label for="product_label_view">바닥 시공</label>
						</td>
						<td>
							<input type="checkbox" id="mdpick_label_view" name="mtContents.mdpickLabelView" value="true">
							<label for="mdpick_label_view">MD pick</label>
						</td>
						<!-- <td>
							<input type="checkbox" id="month_deal_label_view" name="mtContents.monthDealLabelView" value="true">
							<label for="month_deal_label_view">이달의 딜</label>
						</td> -->
					</tr>
				</table>
				
				
				<div class="col-12 p-5"></div>	
				<div class="col-12">
					<span>판매 정보</span>
				</div>
				<div class="col-12 p-3"></div>
				<table class="table">
					<tr>
						<th scope="col">*원가</th>
						<td>
							<input type="number" class="form-control" id="mtSales.costPrice" name="mtSales.costPrice" placeholder="숫자입력" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								원가를 입력해주세요.
        					</div>
						</td>
						<td>원/m<sup>2</sup></td>
					</tr>
					<tr>
						<th scope="col">*정가</th>
						<td>
							<input type="number" class="form-control" id="mtSales.consumerPrice" name="mtSales.consumerPrice" placeholder="숫자입력" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								정가를 입력해주세요.
        					</div>
						</td>
						<td>원/m<sup>2</sup></td>
					</tr>
					<tr>
						<th scope="col">*판매가</th>
						<td>
							<input type="number" class="form-control" id="mtSales.salesPrice" name="mtSales.salesPrice" placeholder="숫자입력" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								할인가를 입력해주세요.
        					</div>
						</td>
						<td>원/m<sup>2</sup></td>
					</tr>
					</table>
					
					<div class="col-12 p-5"></div>	
					<div class="col-12">
						<span>포장 단위</span>
					</div>
					<div class="col-12 p-3"></div>
					<table class="table">
					<tr>
						<th scope="col">*헤베수</th>
						<td>
							<input type="number" id="mtPkg.meter2Box" class="form-control" name="mtPkg.meter2Box" step="0.01" placeholder="숫자입력" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								포장박스 높이를 입력해주세요.
        					</div>
						</td>
						<td>m2/box</td>
					</tr>
					<tr>
						<th scope="col">*수량</th>
						<td>
							<input type="number" id="mtPkg.pcsBox" class="form-control" name="mtPkg.pcsBox" step="0.01" placeholder="숫자입력" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								박스포장단위(pcs/box)를 입력해주세요
							</div>
						</td>
						<td>pcs/box</td>
					</tr>
					<tr>
						<th scope="col">*무게</th>
						<td>
							<input type="number" id="mtPkg.kgBox" class="form-control" name="mtPkg.kgBox" step="0.01" placeholder="숫자입력" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								포장박스 무게를 입력해주세요
        					</div>
						</td>
						<td>kg/box</td>
					</tr>
					<tr>
						<th scope="col">포장 단위</th>
						<td>
							<input type="number" id="mtPkg.boxPlt" class="form-control" name="mtPkg.boxPlt" step="0.01" placeholder="숫자입력">
						</td>
						<td>box/PLT</td>
					</tr>
				</table>
				
				
				<div class="col-12 p-5"></div>	
				<div class="col-12">
					<span>재고 정보</span>
				</div>
				<div class="col-12 p-3"></div>
				<table class="table">
					<tr>
						<th scope="col">재고수량</th>
						<td>
							<input type="number" class="form-control" id="mtSales.stock" name="mtSales.stock" placeholder="숫자입력">
							<div class="valid-feedback"></div>
						</td>
					</tr>
				</table>
				
				<div class="col-12 p-5"></div>	
				<div class="col-12">
					<span>제품 규격</span>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table">
					<tr>
						<th scope="col" rowspan="3">사이즈</th>
						<th scope="col">*가로</th>
						<td>
							<input type="text" class="form-control" id="mtStd.sizeW" name="mtStd.sizeW" placeholder="숫자입력" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								제품크기(가로)를 입력해주세요.
        					</div>
						</td>
						<td>mm</td>
					</tr>
					<tr>
						<th scope="col">*세로</th>
						<td>
							<input type="text" class="form-control" id="mtStd.sizeH" name="mtStd.sizeH" placeholder="숫자입력" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								제품크기(세로)를 입력해주세요.
        					</div>
						</td>
						<td>mm</td>
					</tr>
					<tr>
						<th scope="col">두께</th>
						<td>
							<input type="number" class="form-control" id="mtStd.thick" name="mtStd.thick" step="0.01" placeholder="숫자입력">
						</td>
						<td>mm</td>
					</tr>
					<!-- <tr>
						<th scope="col">샘플 크기 (mm / 가로)</th>
						<td>
							<input type="number" class="form-control" id="mtStd.sampSizeW" name="mtStd.sampSizeW" step="0.01" placeholder="숫자입력">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								샘플크기(가로)를 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">샘플 크기 (mm / 세로)</th>
						<td>
							<input type="number" class="form-control" id="mtStd.sampSizeH" name="mtStd.sampSizeH" step="0.01" placeholder="숫자입력">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								샘플크기(세로)를 입력해주세요.
        					</div>
						</td>
					</tr> -->
				</table>
				
				<div class="col-12 p-5"></div>
				<div class="col-12">
					<span>시공 가능 공간</span>
				</div>
				<div class="col-12 p-3"></div>
				<table class="table">
					<tr>
						<th scope="col" rowspan="5" class="align-middle">
							<label for="allPlaceCheck">전체</label>
							<input type="checkbox" id="allPlaceCheck" checked>
						</th>
						<td>
							<label for="mtSpace.outPossible">실외</label>
							<input type="checkbox" id="mtSpace.outPossible" name="mtSpace.outPossible" value="true" checked class="place_check">
						</td>
						<td>
							<label for="mtSpace.inPossible">실내</label>
							<input type="checkbox" id="mtSpace.inPossible" name="mtSpace.inPossible" value="true" checked class="place_check">
						</td>
					</tr>
					<tr>
						<td>
							<label for="mtSpace.roomFloor">방 바닥</label>
							<input type="checkbox" id="mtSpace.roomFloor" name="mtSpace.roomFloor" value="true" checked class="place_check">
						</td>
						<td>
							<label for="mtSpace.roomWall">방 벽</label>
							<input type="checkbox" id="mtSpace.roomWall" name="mtSpace.roomWall" value="true" checked class="place_check">
						</td>
					</tr>
					<tr>
						<td>
							<label for="mtSpace.kichFloor">주방 바닥</label>
							<input type="checkbox" id="mtSpace.kichFloor" name="mtSpace.kichFloor" value="true" checked class="place_check">
						</td>
						<td>
							<label for="mtSpace.kichWall">주방 벽</label>
							<input type="checkbox" id="mtSpace.kichWall" name="mtSpace.kichWall" value="true" checked class="place_check">
						</td>
					</tr>
					<tr>
						<td>
							<label for="mtSpace.toilFloor">화장실 바닥</label>
							<input type="checkbox" id="mtSpace.toilFloor" name="mtSpace.toilFloor" value="true" checked class="place_check">
						</td>
						<td>
							<label for="mtSpace.toilWall">화장실 벽</label>
							<input type="checkbox" id="mtSpace.toilWall" name="mtSpace.toilWall" value="true" checked class="place_check">
						</td>
					</tr>
					<tr>
						<td>
							<label for="mtSpace.balcFloor">베란다 바닥</label>
							<input type="checkbox" id="mtSpace.balcFloor" name="mtSpace.balcFloor" value="true" checked class="place_check">
						</td>
						<td>
							<label for="mtSpace.balcWall">베란다 벽</label>
							<input type="checkbox" id="mtSpace.balcWall" name="mtSpace.balcWall" value="true" checked class="place_check">
						</td>
					</tr>
				</table>
				
				<div class="col-12 p-5"></div>	
				<div class="col-12">
					<span>제품 속성</span>
				</div>
				<div class="col-12 p-3"></div>	
				<table class="table">
					<tr>
						<th scope="col">풀바디</th>
						<td>
							<label for="mtSpec.fullbodyTrue">해당</label>
							<input type="radio" id="mtSpec.fullbodyTrue" name="mtSpec.fullbody" th:value="true">
						</td>
						<td>
							<label for="mtSpec.fullbodyFalse">해당없음</label>
							<input type="radio" id="mtSpec.fullbodyFalse" name="mtSpec.fullbody" th:value="false" checked="checked">
						</td>
						<!-- <td>
							<label for="mtSpec.fullbodyNull">선택안함</label>
							<input type="radio" id="mtSpec.fullbodyNull" name="mtSpec.fullbody" th:value="null" checked="checked">
						</td> -->
					</tr>
					<tr>
						<th scope="col">논슬립</th>
						<td>
							<label for="mtSpec.nonslipTrue">해당</label>
							<input type="radio" id="mtSpec.nonslipTrue" name="mtSpec.nonslip" th:value="true" checked="checked">
						</td>
						<td>
							<label for="mtSpec.nonslipFalse">해당없음</label>
							<input type="radio" id="mtSpec.nonslipFalse" name="mtSpec.nonslip" th:value="false">
						</td>
						<!-- <td>
							<label for="mtSpec.nonslipNull">선택안함</label>
							<input type="radio" id="mtSpec.nonslipNull" name="mtSpec.nonslip" th:value="null" checked="checked">
						</td> -->
					</tr>
					<tr>
						<th scope="col">*표면 재질</th>
						<td colspan="3">
							<select id="mtSpec.surface" name="mtSpec.surface" class="form-control">
								<option th:value="'무광'" selected>무광</option>
								<option th:value="'유광'">유광</option>
							</select>
						</td>
					</tr>
					<tr>
						<th scope="col">*표면 질감</th>
						<td colspan="3">
							<select id="mtSpec.surfaceTexture" name="mtSpec.surfaceTexture.no" class="form-control">
								<th:block th:each="sfTexture : ${codes.sfTextures}">
									<option th:value="${sfTexture.no}" th:text="${sfTexture.sfTextureName}"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<th scope="col">*패턴 종류</th>
						<td colspan="3">
							<input type="text" class="form-control" name="mtSpec.pattern" placeholder="패턴종류 ex)스톤 or 마블">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								패턴 종류를 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">*패턴 수</th>
						<td colspan="3">
							<input type="number" class="form-control" name="mtSpec.patternNum" placeholder="숫자입력" value="1" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								패턴 수를 입력해주세요.
        					</div>
						</td>
					</tr>
			
					<tr>
						<th scope="col" rowspan="2">*방수성</th>
						<th scope="col">*방수 여부</th>
						<td>
							<label for="mtPf.waterAbsrpTrue">가능</label>
							<input type="radio" id="mtPf.waterAbsrpTrue" name="mtPf.waterAbsrp" th:value="true">
						</td>
						<td>
							<label for="mtPf.waterAbsrpFalse">불가능</label>
							<input type="radio" id="mtPf.waterAbsrpFalse" name="mtPf.waterAbsrp" th:value="false" checked="checked">
						</td>
					</tr>
					<tr>
						<th scope="col">흡수율 (11.0~15.0)</th>
						<td colspan="2">
							<input type="number" id="mtPf.waterAbsrpRate" class="form-control" 
								name="mtPf.waterAbsrpRate" step="0.1" placeholder="숫자입력" min="11.0" max="15.0">
							<div class="valid-feedback"></div>
						</td>
					</tr>
					<tr>
						<th scope="col">미끄럼 저항성(R)</th>
						<td colspan="3">
							<input type="text" name="mtPf.resist" class="form-control" placeholder="미끄럼저항성">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								미끄럼 저항성을 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">인증</th>
						<td colspan="3">
							<input type="text" name="mtPf.certified" class="form-control" placeholder="기술인증">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								제품이 받은 인증여부를 입력해주세요.
        					</div>
						</td>
					</tr>
				</table>
				
				<div class="col-12 p-5"></div>	
				<div class="col-12">
					<span>배송 정보</span>
				</div>
				<div class="col-12 p-3"></div>
				<table class="table">
					<tr>
						<th scope="col">*상품 개별 구매</th>
						<td colspan="2">
							<label for="mtDelv.excPurchaseTrue">가능</label>
							<input type="radio" id="mtDelv.excPurchaseTrue" name="mtDelv.excPurchase" th:value="true">
						</td>
						<td>
							<label for="mtDelv.excPurchaseFalse">불가능</label>
							<input type="radio" id="mtDelv.excPurchaseFalse" name="mtDelv.excPurchase" th:value="false" checked>
						</td>
					</tr>
					<tr>
						<th scope="col">배송 방법</th>
						<td>
							<label for="mtDelv.howDelvT">택배</label>
							<input type="radio" id="mtDelv.howDelvT" name="mtDelv.howDelv" th:value="'택배'">
						</td>
						<td>
							<label for="mtDelv.howDelvH">화물</label>
							<input type="radio" id="mtDelv.howDelvH" name="mtDelv.howDelv" th:value="'화물'">
						</td>
						<td>
							<label for="mtDelv.howDelvN">불가능</label>
							<input type="radio" id="mtDelv.howDelvN" name="mtDelv.howDelv" th:value="'불가능'" checked>
						</td>
					</tr>
					<tr>
						<th scope="col">지불 방법</th>
						<td>
							<label for="mtDelv.prepayDelvS">선불</label>
							<input type="radio" id="mtDelv.prepayDelvS" name="mtDelv.prepayDelv" th:value="'선불'">
						</td>
						<td>
							<label for="mtDelv.prepayDelvC">착불</label>
							<input type="radio" id="mtDelv.prepayDelvC" name="mtDelv.prepayDelv" th:value="'착불'">
						</td>
						<td>
							<label for="mtDelv.prepayDelvN">불가능</label>
							<input type="radio" id="mtDelv.prepayDelvN" name="mtDelv.prepayDelv" th:value="'불가능'" checked>
						</td>
					</tr>
					<tr>
						<th scope="col">택배비</th>
						<td colspan="2">
							<input type="number" class="form-control" id="" name="mtDelv.pay" placeholder="숫자입력">
						</td>
						<td>원/box</td>
					</tr>
				</table>
				
				<div class="col-12 p-5"></div>	
				<div class="col-12">
					<span>유통 정보</span>
				</div>
				<div class="col-12 p-3"></div>
				<table class="table">
					<tr>
						<th scope="col">*생산국가</th>
						<td>
							<select id="classLg" name="mtDtd.country.no" class="form-control">
								<th:block th:each="country : ${codes.countrys}">
									<option th:value="${country.no}" th:text="${country.countryName}"></option>
								</th:block>
							</select>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								생산 국가를 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">*유통업체명</th>
						<td>
							<input type="text" class="form-control" id="mtDtd.dtdComNo" name="mtDtd.dtdComNo" placeholder="업체명" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								업체명을 입력해주세요.
        					</div>
						</td>
						<th scope="col">업체 사이트</th>
						<td>
							<input type="text" class="form-control" id="mtDtd.dtdComUrl" name="mtDtd.dtdComUrl" placeholder="업체URL주소">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								업체 URL 주소를 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">*업체상품명</th>
						<td>
							<input type="text" class="form-control" id="mtDtd.dtdMtName" name="mtDtd.dtdMtName" placeholder="업체제품명" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								업체 제품명을 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">*업체분류코드</th>
						<td>
							<input type="text" class="form-control" id="mtDtd.dtdCode" name="mtDtd.dtdCode" placeholder="업체분류코드" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								업체 분류코드를 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">제조업체명</th>
						<td>
							<input type="text" class="form-control" id="mtDtd.mfcComNo" name="mtDtd.mfcComNo" placeholder="제조업체" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								제조업체를 입력해주세요.
        					</div>
						</td>
					</tr>
					<!-- <tr>
						<th scope="col">제품 설명</th>
						<td>
							<textarea rows="5" cols="60" class="form-control" id="mtDtd.dtdMtDesc" name="mtDtd.dtdMtDesc" placeholder="제품설명을 입력해주세요"></textarea>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								제품 설명을 입력해주세요.
        					</div>
						</td>
					</tr> -->
					<tr>
						<th scope="col">브랜드명</th>
						<td>
							<input type="text" class="form-control" id="mtDtd.brandName" name="mtDtd.brandName" placeholder="브랜드명">
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								브랜드명을 입력해주세요.
        					</div>
						</td>
					</tr>
					<tr>
						<th scope="col">*상품출고지</th>
						<td>
							<input type="text" class="form-control" id="mtDtd.wareHouse" name="mtDtd.wareHouse" placeholder="출고지" required>
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								출고지를 입력해주세요.
        					</div>
						</td>
					</tr>
				</table>
				<div class="col-12 p-4"></div>	
				<div class="">
					<b>검색 키워드 </b><!-- <small>(키워드 입력 후 enter 혹은 focus out)</small> -->
				</div>
				<!-- <div class="col-12 p-3"></div> -->
				<div class="col-12">
					<div class="row">
						<input type="text" class="form-control col-6" id="" name="mtContents.mtTags[0].tagName">
						<input type="text" class="form-control col-6" id="" name="mtContents.mtTags[1].tagName">
						<input type="text" class="form-control col-6" id="" name="mtContents.mtTags[2].tagName">
						<input type="text" class="form-control col-6" id="" name="mtContents.mtTags[3].tagName">
						<input type="text" class="form-control col-6" id="" name="mtContents.mtTags[4].tagName">
						<input type="text" class="form-control col-6" id="" name="mtContents.mtTags[5].tagName">
					</div>
				</div>
				
				<div class="col-12 p-4"></div>	
				
				<table class="table">
					<tr>
						<th scope="col">*노출 여부</th>
						<td>
							<label for="openTrue">노출</label>
							<input type="radio" id="openTrue" name="isOpen" th:value="true">
						</td>
						<td>
							<label for="openFalse">비노출</label>
							<input type="radio" id="openFalse" name="isOpen" th:value="false" checked>
						</td>
					</tr>
				</table>
				
				
				<div class="col-12 p-3"></div>
				<button type="submit" id="materialSubmit" class="btn btn-primary">등록하기</button>
			</form>
		</div>
		<div class="col-12 p-3"></div>
	
	</div>
</div>

</html>
