
.dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #B1B1B1;
	margin: 11px 10px 11px 10px;
}

._tile_card {
	/* margin : 15px 15px 15px 15px; */
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: 0px 3px 8px #25292F14;
	border-radius: 12px;
	border: 1px solid #E7EAF3;
	opacity: 1;
	cursor: pointer;
}

._tile_subImg {
	width: 63px;
	height: 63px;
	border: 1px solid #FFFFFF80;
	opacity: 1;
	position: absolute;
	/* top: 60%; */
	bottom: 16px;
    right: 16px;
	z-index: 5;
	padding: 0px !important;
	margin: 0px !important;
	box-sizing: border-box;
	background-size: cover;
}

.labels {
	margin-left: 5px;
	margin-right: 5px;
}

.mdPick_label {
	z-index: 5;
	width: 48px;
    height: 21px;
}

.product_label {
	z-index: 5;
}

.month_deal_label {
	z-index: 5;
}

._info_box {
	padding: 4px 0 4px 0;
}

.tooltips {
	background: none;
	border: none;
	padding: 0px;
}
.tooltips:focus {
	outline: none;
}

.tooltip-inner {
	max-width: 284px;
	text-align: left;
	font: normal normal normal 12px/20px Spoqa Han Sans Neo;
	letter-spacing: -0.6px;
	color: #FFFFFF;
	opacity: 1;
}

._tile_mainImg {
	border-radius: 12px 12px 0px 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

._tile_img_box {
	border-radius: 12px 12px 0 0;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 190px;
}

._tile_img_box ._tile_mainImg {
	transform:scale(1.0);
	transition: transform.5s;
}

._tile_img_box ._tile_mainImg:hover {
	transform:scale(1.2);
	transition: transform.5s;
}

._contents_text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	text-align: left;
	font: normal normal bold 16px/30px var(--default-font);
	letter-spacing: -0.4px;
	color: #091627;
	opacity: 1;
}


._spec_box {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 6px;
	align-items:center;
}

._spec_value {
	text-align: left;
	font: normal normal normal 13px/25px var(--default-font);
	letter-spacing: -0.33px;
	color: #676767;
	opacity: 1;
}

._sales_percent_text {
	text-align: left;
	font: normal normal 800 16px/26px var(--default-font);
	letter-spacing: -0.4px;
	color: #FF7258;
	opacity: 1;
}

._product_price {
	text-align: left;
	font: normal normal 800 16px/25px var(--default-font);
	letter-spacing: -0.4px;
	color: #000000;
	opacity: 1;
}

._product_text {
	text-align: left;
	font: normal normal 800 13px/25px var(--default-font);
	letter-spacing: -0.33px;
	color: #000000;
	opacity: 1;
}

.labels_box {
	position: absolute;
	top: 15px;
	left: 25px;
}

._title_box {
	/* padding-bottom: 11px; */
	cursor: pointer;
	margin-bottom:6px;
}

._emoji_box {
	display: flex;
	justify-content: flex-start;
	padding-left: 0px;
	padding-right: 0px;
}

._emoji_first {
	width : 24px;
	height : 24px;
	margin-right: 4px;
}

._emoji {
	width : 24px;
	height : 24px;
	margin-left: 4px;
	margin-right: 4px;
}

._emoji_line{
	margin-top: 23px; 
	margin-bottom: 18px;
}

/* pattern */
._emoji__pattern--1 {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_pattern.svg");
}

/* nonslip */
._emoji__nonslip--y {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_nonslip.svg");
}

._emoji__nonslip--n {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_slip.svg");
}

/* water */
._emoji__waterAbsrp--y {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_water_y.svg");
}

._emoji__waterAbsrp--n {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_water_n.svg");
}

/* living */
._emoji__living--y {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_living_y.svg");
}

._emoji__living--n {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_living_n.svg");
}

._emoji__living--n--f {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_living_n_f.svg");
}
._emoji__living--n--w {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_living_n_w.svg");
}

/* kitchen */
._emoji__kitchen--y {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_kitchen_y.svg");
}

._emoji__kitchen--n {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_kitchen_n.svg");
}

._emoji__kitchen--n--f {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_kitchen_n_f.svg");
}
._emoji__kitchen--n--w {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_kitchen_n_w.svg");
}

/* bath */
._emoji__bath--y {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_bath_y.svg");
}

._emoji__bath--n {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_bath_n.svg");
}

._emoji__bath--n--f {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_bath_n_f.svg");
}
._emoji__bath--n--w {
	background: url("/assets/resources/icon/contents/main/spec_emoji/icom_sm_bath_n_w.svg");
}
@media screen and (max-width: 576px) {
	._emoji_box {
		display: none;
	}
	._emoji_line{
		display: none;
	}
	.display_none_text{
		display: none;
	}
	.dot {
	  width: 3px;
	  height: 3px;
	  margin: 5px 5px 5px 4px;
	  background-color: #DBDBDB;
	}
	._title_box {
		/* padding-bottom: 11px; */
		cursor: pointer;
		margin-bottom:12px;
	}
	._price_box > .h4 {
		font-size: 14px;
	}
	._price_box > .h6 {
		font-size: 11px;
	}
	._spec_box {
		padding-bottom: 9px;
	}
	._tile_img_box {
		height: 117px;
	}
}




