@charset "UTF-8";

.master_main_menu_text {
	text-align: center;
	font: normal normal bold 30px/30px Noto Sans KR;
	letter-spacing: -1.1px;
	color: #091627;
	opacity: 1;
}

.category_text {
	text-align: center;
	font: normal normal bold 20px/20px Noto Sans KR;
	letter-spacing: -1.1px;
	color: #091627;
	opacity: 1;
}

.btn_size {
	width: 70%;
}

@media screen and(max-width: 500px) {
	.btn_size {
		width: 100%;
	}
}

.master_box {
}
