<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script"></th:block>

<div th:fragment="masterSideBarFragment">
	<div class="p-0" style="border-right: 1px solid #E7EAF3;">
		<div class="collapse d-md-block" id="bd-docs-nav">
			<ul class="nav flex-column text-center">
				<li>&nbsp;</li>
				<li class="nav-item">
					<a class="nav-link" th:href="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_MATERIAL_LIST}">스토어 관리</a>
					<ul class="nav flex-column text-center small">
						<li><a class="nav-link" th:href="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_MATERIAL_LIST}">마감재 관리</a></li>
						<!-- <li><a class="nav-link" href="/master/contents/list">컨텐츠 관리</a></li> -->
						<li><a class="nav-link" th:href="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_MATERIAL_SUB_LIST}">부자재 관리</a></li>
						<!-- <li><a class="nav-link" href="/master/contents/recommand/list">MD추천</a></li> -->
						<li><a class="nav-link" th:href="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_POPULAR_LIST}">인기순위</a></li>
						<!-- <li>
							<del>
							<a class="nav-link" href="/master/contents/monthSales/list">이달의 특가</a>
							</del>
						</li> -->
					</ul>
				</li>
				<li><hr></li>
				<li class="nav-item">
					<a class="nav-link" href="#">공간 카드 관리</a>
					<ul class="nav flex-column text-center small">
						<li><a class="nav-link" href="#">공간카드(준비중)</a></li>
					</ul>
				</li>
				<li><hr></li>
				<li class="nav-item">
					<a class="nav-link" href="#">컨텐츠 관리</a>
					<ul class="nav flex-column text-center small">
						<li><a class="nav-link" th:href="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_CONS_REVIEW_LIST}">시공사례 관리</a></li>
						<li><a class="nav-link" href="#">체크리스트(준비중)</a></li>
						<li><a class="nav-link" href="#">블로그(준비중)</a></li>
					</ul>
				</li>
				<li><hr></li>
				<li class="nav-item">
					<a class="nav-link" href="#">주문 관리</a>
					<ul class="nav flex-column text-center small">
						<li><a class="nav-link" th:href="${T(com.connect.brick.config.RequestMappingConstants)._MASTER_ORDER_LIST}">신청 관리</a></li>
						<li><a class="nav-link" href="#">계약 관리</a></li>
						<li><a class="nav-link" href="#">진행 관리(준비중)</a></li>
						<li><a class="nav-link" href="#">완료내역(준비중)</a></li>
						<li><a class="nav-link" href="#">취소 관리(준비중)</a></li>
					</ul>
				</li>
				<li><hr></li>
				<li class="nav-item">
					<a class="nav-link" href="#">시스템 관리</a>
					<ul class="nav flex-column text-center small">
						<li><a class="nav-link" href="#">코드 관리(준비중)</a></li>
						<li><a class="nav-link" href="/master/data">데이터 관리</a></li>
						<li><a class="nav-link" href="/master/estimate">견적테스트</a></li>
						<li><a class="nav-link" href="#">관리자 계정(준비중)</a></li>
					</ul>
				</li>
				<li><hr class="mb-0"></li>
			</ul>
		</div>
	</div>
</div>

</html>